<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Homex template">
    <meta name="keywords" content="">
    <meta name="author" content="Unicoder">

    <!-- Title -->
    <title>Homex - Real Estate Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Fonts -->
    <link href="../../css.css?family=Muli:400,400i,500,600,700&display=swap" rel="stylesheet">
    <link href="../../css-1.css?family=Comfortaa:400,700" rel="stylesheet">

    <!-- Css Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="assets/css/layerslider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/color.css" id="color-change">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>

    <!--	Page Loader
=============================================================
<div class="page-loader position-fixed z-index-9999 w-100 bg-white vh-100">
	<div class="d-flex justify-content-center y-middle position-relative">
	  <div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	  </div>
	</div>
</div>
-->

    <!-- Color Settings -->
    <div class="color-panel">
        <div class="on-panel bg-primary"><img src="assets/images/settings.png" alt=""></div>
        <div class="panel-box"> <span class="panel-title">Theme Colors</span>
            <ul class="color-box">
                <li class="default" data-name="default" data-path="assets/css/color.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_2" data-name="color_2" data-path="assets/css/colors/color_2.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_3" data-name="color_3" data-path="assets/css/colors/color_3.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_4" data-name="color_4" data-path="assets/css/colors/color_4.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_5" data-name="color_5" data-path="assets/css/colors/color_5.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_6" data-name="color_6" data-path="assets/css/colors/color_6.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
            </ul>
        </div>
        <div class="switcher_layout"> <span class="layout_title">Layout Style</span>
            <div class="radio_check">
                <input type="checkbox" id="layout_type" name="layout" value="Yes">
                <label class="bg-primary text-left" for="layout_type"><span class="text-white">Box</span><span class="text-white">Full</span></label>
            </div>
        </div>
        <div class="box_bg_style"> <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="patrn1" value="pattern_1">
                        <label for="patrn1" class="radios pattern1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn2" value="pattern_2">
                        <label for="patrn2" class="radios pattern2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn3" value="pattern_3">
                        <label for="patrn3" class="radios pattern3"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn4" value="pattern_4">
                        <label for="patrn4" class="radios pattern4"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn5" value="pattern_5">
                        <label for="patrn5" class="radios pattern5"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn6" value="pattern_6">
                        <label for="patrn6" class="radios pattern6"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn7" value="pattern_7">
                        <label for="patrn7" class="radios pattern7"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn8" value="pattern_8">
                        <label for="patrn8" class="radios pattern8"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn9" value="pattern_9">
                        <label for="patrn9" class="radios pattern9"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn10" value="pattern_10">
                        <label for="patrn10" class="radios pattern10"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn11" value="pattern_11">
                        <label for="patrn11" class="radios pattern11"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn12" value="pattern_12">
                        <label for="patrn12" class="radios pattern12"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn13" value="pattern_13">
                        <label for="patrn13" class="radios pattern13"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn14" value="pattern_14">
                        <label for="patrn14" class="radios pattern14"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn15" value="pattern_15">
                        <label for="patrn15" class="radios pattern15"></label>
                    </li>
                </ul>
            </div>
            <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="bg_img1" value="body_bg_1">
                        <label for="bg_img1" class="radios body_image1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img2" value="body_bg_2">
                        <label for="bg_img2" class="radios body_image2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img3" value="body_bg_3">
                        <label for="bg_img3" class="radios body_image3"></label>
                    </li>
                </ul>
            </div>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="checkbox" name="vilena_overlay" id="bg_over" value=""> Overlay
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Color Settings -->

    <div id="page-wrapper" class="bg-white">
        <div class="row">
            <div class="full-row py-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="advance-sidebar bg-primary text-white"> <a class="hover-text-secondary" href="index-1.html"><i class="fas fa-angle-left me-1"></i>Back Home</a>
                                    <h4 class="double-down-line-left-white position-relative pb-4 mt-4 mb-5">Agent Search</h4>
                                    <form class="transparent-white mb-5" method="post" action="action-page-post.html">
                                        <div class="row row-cols-1 g-4">
                                            <div class="col">
                                                <label class="form-label">Agent Type</label>
                                                <div class="select-arrow text-white">
                                                    <select class="form-control form-select">
                                                        <option>Select</option>
                                                        <option>USA</option>
                                                        <option>Australia</option>
                                                        <option>Russia</option>
                                                        <option>France</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Property Status</label>
                                                <div class="select-arrow text-white">
                                                    <select class="form-control form-select">
                                                        <option>Select</option>
                                                        <option>USA</option>
                                                        <option>Australia</option>
                                                        <option>Russia</option>
                                                        <option>France</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Agent State / Location</label>
                                                <div class="select-arrow text-white">
                                                    <select class="form-control form-select">
                                                        <option>Select</option>
                                                        <option>USA</option>
                                                        <option>Australia</option>
                                                        <option>Russia</option>
                                                        <option>France</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Agent Rating</label>
                                                <div class="select-arrow text-white">
                                                    <select class="form-control form-select">
                                                        <option>Select</option>
                                                        <option>USA</option>
                                                        <option>Australia</option>
                                                        <option>Russia</option>
                                                        <option>France</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                    <label class="me-3">X Company Registered</label>
                                                    <div class="radio-check">
                                                        <abbr title="Click button to slide the radio button">
                                                            <input type="checkbox" id="radio-1" class="d-none" name="question" value="Yes">
                                                            <label for="radio-1"><span class="text-primary">No</span><span class="text-white">Yes</span></label>
                                                        </abbr>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                    <label class="me-3">Certified Agent</label>
                                                    <div class="radio-check">
                                                        <abbr title="Click button to slide the radio button">
                                                            <input type="checkbox" id="radio-2" class="d-none" name="question" value="Yes">
                                                            <label for="radio-2"><span class="text-primary">No</span><span class="text-white">Yes</span></label>
                                                        </abbr>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label mb-3">Listed Property</label>
                                                <div class="layout-slider">
                                                    <span>
                                                        <input id="listed-property" type="text" name="price" value="60;100">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label mb-3 mt-5">Price</label>
                                                <div class="price-range">
                                                    <div class="price-filter">
                                                        <span class="price-slider">
                                                            <input class="filter-price" type="text" name="price" value="142000;351000">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-white mt-5">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 p-0">
                            <div class="row">
                                <div class="col">
                                    <div class="w-100 bg-white shadow-sm text-secondary">
                                        <ul class="nav-menu d-flex">
                                            <li> <a href="property-search-grid.html">Property</a> </li>
                                            <li class="active"> <a href="agent-search.html">Agents</a> </li>
                                            <li> <a href="dashboard-listing.html">Manage Listing</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="px-3 px-sm-5 mt-4 property-thumview">
                                        <div class="row my-4">
                                            <div class="col">
                                                <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                    <form class="selecting-command d-flex flex-wrap" method="get">
                                                        <label class="me-10">Shorts By :</label>
                                                        <div class="select-arrow me-30">
                                                            <select class="form-control form-select bg-gray">
                                                                <option>Default Order</option>
                                                                <option>Newest First</option>
                                                                <option>Oldest First</option>
                                                                <option>Top Rated</option>
                                                                <option>Most Popular</option>
                                                            </select>
                                                        </div>
                                                        <label>1-10 of 25 results</label>
                                                    </form>
													<div class="view-category">
														<a href="agent-search.html" title="Grid" class="active"><i class="fas fa-th-large"></i></a>
														<a href="agent-list-search.html" title="List"><i class="fas fa-th-list"></i></a>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-cols-1 g-4">
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/01.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Karen Eilla Boyette</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/02.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Nate Brownlow</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/03.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/04.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Karen Eilla Boyette</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/05.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/06.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Nate Brownlow</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/07.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/08.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Karen Eilla Boyette</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/09.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/10.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Nate Brownlow</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/11.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="profile-list hover-zoomer bg-white shadow-one d-flex">
                                                    <div class="overflow-hidden"> <img src="assets/images/team/12.png" alt=""> </div>
                                                    <div class="profile-data p-4 position-relative">
                                                        <h5 class="text-secondary hover-text-primary"><a href="#">Nate Brownlow</a></h5>
                                                        <span class="mb-3 d-block">Appartment Agent</span>
                                                        <div class="rating text-primary position-absolute">
                                                            <ul>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                                <li><i class="fas fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p>Nibh Cursus cubilia conubia neque tristique ultricies neque mattis hac tincidunt. Mattis cum dui platea quisque nam imperdiet ut viverra. Lobortis lorem vestibulum.</p>
                                                        <div class="py-3 px-4 mt-3 bg-gray">
                                                            <div class="mb-3">areneboyette@armyspy.com</div>
                                                            <span>+502-324-4194</span> </div>
                                                        <div class="d-flex align-items-center justify-content-between py-3">
                                                            <span>Joined Aug 27, 2017</span>
                                                            <div><a href="#" class="text-primary">32</a> Listed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center my-5">
                                            <div class="col-auto">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination">
                                                        <li class="page-item disabled"> <span class="page-link">Previous</span> </li>
                                                        <li class="page-item active" aria-current="page"> <span class="page-link"> 1 <span class="sr-only">(current)</span> </span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">...</li>
                                                        <li class="page-item"><a class="page-link" href="#">45</a></li>
                                                        <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scroll to top -->
            <a href="#" class="bg-secondary text-white" id="scroll"><i class="fas fa-angle-up"></i></a>
            <!-- End Scroll To top -->
        </div>
    </div>
    <!-- Wrapper End -->

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/tmpl.js"></script>
    <script src="assets/js/jquery.dependClass-0.1.js"></script>
    <script src="assets/js/draggable-0.1.js"></script>
    <script src="assets/js/jquery.slider.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/YouTubePopUp.jquery.js"></script>
    <script src="assets/js/validate.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>