<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Homex template">
    <meta name="keywords" content="">
    <meta name="author" content="Unicoder">

    <!-- Title -->
    <title>Homex - Real Estate Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Fonts -->
    <link href="../../css.css?family=Muli:400,400i,500,600,700&display=swap" rel="stylesheet">
    <link href="../../css-1.css?family=Comfortaa:400,700" rel="stylesheet">

    <!-- Css Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="assets/css/layerslider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/color.css" id="color-change">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

    <!--	Page Loader
=============================================================
<div class="page-loader position-fixed z-index-9999 w-100 bg-white vh-100">
	<div class="d-flex justify-content-center y-middle position-relative">
	  <div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	  </div>
	</div>
</div>
-->

    <!-- Color Settings -->
    <div class="color-panel">
        <div class="on-panel bg-primary"><img src="assets/images/settings.png" alt=""></div>
        <div class="panel-box"> <span class="panel-title">Theme Colors</span>
            <ul class="color-box">
                <li class="default" data-name="default" data-path="assets/css/color.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_2" data-name="color_2" data-path="assets/css/colors/color_2.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_3" data-name="color_3" data-path="assets/css/colors/color_3.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_4" data-name="color_4" data-path="assets/css/colors/color_4.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_5" data-name="color_5" data-path="assets/css/colors/color_5.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_6" data-name="color_6" data-path="assets/css/colors/color_6.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
            </ul>
        </div>
        <div class="switcher_layout"> <span class="layout_title">Layout Style</span>
            <div class="radio_check">
                <input type="checkbox" id="layout_type" name="layout" value="Yes">
                <label class="bg-primary text-left" for="layout_type"><span class="text-white">Box</span><span class="text-white">Full</span></label>
            </div>
        </div>
        <div class="box_bg_style"> <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="patrn1" value="pattern_1">
                        <label for="patrn1" class="radios pattern1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn2" value="pattern_2">
                        <label for="patrn2" class="radios pattern2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn3" value="pattern_3">
                        <label for="patrn3" class="radios pattern3"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn4" value="pattern_4">
                        <label for="patrn4" class="radios pattern4"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn5" value="pattern_5">
                        <label for="patrn5" class="radios pattern5"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn6" value="pattern_6">
                        <label for="patrn6" class="radios pattern6"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn7" value="pattern_7">
                        <label for="patrn7" class="radios pattern7"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn8" value="pattern_8">
                        <label for="patrn8" class="radios pattern8"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn9" value="pattern_9">
                        <label for="patrn9" class="radios pattern9"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn10" value="pattern_10">
                        <label for="patrn10" class="radios pattern10"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn11" value="pattern_11">
                        <label for="patrn11" class="radios pattern11"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn12" value="pattern_12">
                        <label for="patrn12" class="radios pattern12"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn13" value="pattern_13">
                        <label for="patrn13" class="radios pattern13"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn14" value="pattern_14">
                        <label for="patrn14" class="radios pattern14"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn15" value="pattern_15">
                        <label for="patrn15" class="radios pattern15"></label>
                    </li>
                </ul>
            </div>
            <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="bg_img1" value="body_bg_1">
                        <label for="bg_img1" class="radios body_image1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img2" value="body_bg_2">
                        <label for="bg_img2" class="radios body_image2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img3" value="body_bg_3">
                        <label for="bg_img3" class="radios body_image3"></label>
                    </li>
                </ul>
            </div>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="checkbox" name="vilena_overlay" id="bg_over" value=""> Overlay
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Color Settings -->

    <!--============== Comming Soon Section Start ==============-->
    <div id="page-wrapper" class="bg-white">
        <div class="full-row comming-soon">
            <div class="container-fluid">
                <div class="row">
                    <div class="col position-relative">
                        <div class="bg-shape position-absolute"></div>
                        <div class="bg-white primary-half radius-30 position-relative shadow">
                            <div class="row row-cols-lg-2 row-cols-1">
                                <div class="col">
                                    <div class="p-5 left-content">
                                        <div class="logo-area mb-5">
                                            <a href="index-1.html"><img src="assets/images/logo/logo.png" alt=""></a>
                                        </div>
                                        <div class="pt-4"> <img src="assets/images/vacation.png" alt="">
                                            <h2 class="comming-title text-secondary">Coming Soon</h2>
                                            <h5 class="inner-title text-secondary">Stay Connected, Stay Updated!</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col position-relative">
                                    <div class="right-content xy-center">
                                        <div class="time-count" data-countdown="2021/12/30"></div>
                                        <div class="d-none d-sm-block">
                                            <h2 class="text-white pb-4 pt-5 d-inline-block">Get Updates!</h2>
                                            <form class="send-mail position-relative w-75" action="#" method="post">
                                                <div class="form-group">
                                                    <input type="text" name="email" class="form-control" placeholder="Email Address">
                                                    <button class="btn btn-primary position-absolute text-white">Send Now</button>
                                                </div>
                                            </form>
                                            <div class="media-widget text-white hover-text-secondary mt-5">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                <a href="#"><i class="fas fa-rss"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============== Comming Soon Section End ==============-->

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/tmpl.js"></script>
    <script src="assets/js/jquery.dependClass-0.1.js"></script>
    <script src="assets/js/draggable-0.1.js"></script>
    <script src="assets/js/jquery.slider.js"></script>
    <script src="assets/js/jquery.countdown.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/YouTubePopUp.jquery.js"></script>
    <script src="assets/js/validate.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>