<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Homex template">
    <meta name="keywords" content="">
    <meta name="author" content="Unicoder">

    <!-- Title -->
    <title>Homex - Real Estate Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Fonts -->
    <link href="../../css.css?family=Muli:400,400i,500,600,700&display=swap" rel="stylesheet">
    <link href="../../css-1.css?family=Comfortaa:400,700" rel="stylesheet">

    <!-- Css Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="assets/css/layerslider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/color.css" id="color-change">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

    <!-- Color Settings -->
    <div class="color-panel">
        <div class="on-panel bg-primary"><img src="assets/images/settings.png" alt=""></div>
        <div class="panel-box"> <span class="panel-title">Theme Colors</span>
            <ul class="color-box">
                <li class="default" data-name="default" data-path="assets/css/color.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_2" data-name="color_2" data-path="assets/css/colors/color_2.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_3" data-name="color_3" data-path="assets/css/colors/color_3.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_4" data-name="color_4" data-path="assets/css/colors/color_4.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_5" data-name="color_5" data-path="assets/css/colors/color_5.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_6" data-name="color_6" data-path="assets/css/colors/color_6.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
            </ul>
        </div>
        <div class="switcher_layout"> <span class="layout_title">Layout Style</span>
            <div class="radio_check">
                <input type="checkbox" id="layout_type" name="layout" value="Yes">
                <label class="bg-primary text-left" for="layout_type"><span class="text-white">Box</span><span class="text-white">Full</span></label>
            </div>
        </div>
        <div class="box_bg_style"> <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="patrn1" value="pattern_1">
                        <label for="patrn1" class="radios pattern1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn2" value="pattern_2">
                        <label for="patrn2" class="radios pattern2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn3" value="pattern_3">
                        <label for="patrn3" class="radios pattern3"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn4" value="pattern_4">
                        <label for="patrn4" class="radios pattern4"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn5" value="pattern_5">
                        <label for="patrn5" class="radios pattern5"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn6" value="pattern_6">
                        <label for="patrn6" class="radios pattern6"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn7" value="pattern_7">
                        <label for="patrn7" class="radios pattern7"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn8" value="pattern_8">
                        <label for="patrn8" class="radios pattern8"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn9" value="pattern_9">
                        <label for="patrn9" class="radios pattern9"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn10" value="pattern_10">
                        <label for="patrn10" class="radios pattern10"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn11" value="pattern_11">
                        <label for="patrn11" class="radios pattern11"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn12" value="pattern_12">
                        <label for="patrn12" class="radios pattern12"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn13" value="pattern_13">
                        <label for="patrn13" class="radios pattern13"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn14" value="pattern_14">
                        <label for="patrn14" class="radios pattern14"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn15" value="pattern_15">
                        <label for="patrn15" class="radios pattern15"></label>
                    </li>
                </ul>
            </div>
            <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="bg_img1" value="body_bg_1">
                        <label for="bg_img1" class="radios body_image1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img2" value="body_bg_2">
                        <label for="bg_img2" class="radios body_image2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img3" value="body_bg_3">
                        <label for="bg_img3" class="radios body_image3"></label>
                    </li>
                </ul>
            </div>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="checkbox" name="vilena_overlay" id="bg_over" value=""> Overlay
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Color Settings -->

    <div id="page-wrapper" class="bg-white">
        <div class="row">
            <div class="full-row top-bar py-2 bg-secondary">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="dashboard-top-left d-flex flex-wrap">
                                <a class="float-start dashboard-logo me-4" href="index-1.html"><img src="assets/images/logo/logo-icon.png" alt=""></a>
                                <div class="dropdown dropdown-select d-none d-lg-block me-4">
                                    <button class="dropdown-toggle text-white" type="button" data-bs-toggle="dropdown">Dashboard Option</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                                <div class="d-flex">
                                    <a class="text-primary hover-text-primary me-4 font-18" href="#"><i class="fas fa-bell"></i><sup class="text-white">10</sup></a>
                                    <a class="text-primary hover-text-primary me-4 font-18" href="#"><i class="fas fa-comments"></i><sup class="text-white">5</sup></a>
                                    <a class="text-white hover-text-primary d-none d-lg-block" href="#">+ Submit Property</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dashboard-top-right d-flex flex-wrap justify-content-md-end mt-2 mt-lg-0">
                                <div class="text-white me-4">Balance: <span class="text-primary">$34580.00</span></div>
                                <div class="dropdown dropdown-select">
                                    <button class="dropdown-toggle text-white" type="button" data-bs-toggle="dropdown"><img src="assets/images/team/01.png" alt=""> Hi, Karan</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li><a class="dropdown-item" href="#">sign out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-lg-none">
                            <div class="collaps-dashboard text-white py-3">
                                <span>Open Dashboard Navigation</span>
                                <i class="fas fa-chevron-down fa-1x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-row dashboard py-0 bg-gray">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1 col-xl-2 bg-secondary">
                            <div class="row">
                                <div class="dashboard-sidebar flat-small py-4 px-0 w-100">
                                    <h6 class="text-primary border-bottom-gray pb-3 my-2 ps-3 d-lg-none d-xl-block">Overview</h6>
                                    <ul class="mb-4 text-white">
                                        <li><a href="dashboard-massanger.html"><i class="flaticon-dashboard me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Dashboard</span></a></li>
                                        <li><a href="dashboard-message.html"><i class="flaticon-email me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Message</span><sup class="text-primary">(05)</sup></a></li>
                                        <li><a href="dashboard-comment.html"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Comments</span><sup class="text-primary">(12)</sup></a></li>
                                        <li><a href="dashboard-booking.html"><i class="flaticon-calendar me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Booking Request</span></a></li>
                                    </ul>
                                    <h6 class="text-primary border-bottom-gray pb-3 my-2 ps-3 d-lg-none d-xl-block">Manage Property</h6>
                                    <ul class="mb-4 text-white">
                                        <li><a href="dashboard-listing.html"><i class="flaticon-house-1 me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Listing Properties</span></a></li>
                                        <li class="active"><a href="dashboard-favorite.html"><i class="flaticon-star me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Favorite Properties</span></a></li>
                                        <li><a href="dashboard-purchase.html"><i class="flaticon-rent me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Purchased Property</span></a></li>
                                        <li><a href="dashboard-invoice.html"><i class="flaticon-bill me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Payments and Invoice</span></a></li>
                                        <li><a href="dashboard-submit-property.html"><i class="flaticon-forward me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Submit Property</span></a></li>
                                    </ul>
                                    <h6 class="text-primary border-bottom-gray pb-3 my-2 ps-3 d-lg-none d-xl-block">Your Details</h6>
                                    <ul class="mb-4 text-white">
                                        <li><a href="dashboard-personal-info.html"><i class="flaticon-seller me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Personal Information</span></a></li>
                                        <li><a href="dashboard-profile-setting.html"><i class="flaticon-resume me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Profile Settings</span></a></li>
                                        <li><a href="dashboard-change-password.html"><i class="flaticon-lock me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Change Password</span></a></li>
                                        <li><a href="dashboard-social-media.html"><i class="flaticon-share me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Social Media Settings</span></a></li>
                                    </ul>
                                    <h6 class="text-primary border-bottom-gray pb-3 my-2 ps-3 d-lg-none d-xl-block">Your Items</h6>
                                    <ul class="mb-4 text-white">
                                        <li><a href="dashboard-tax-info.html"><i class="flaticon-tax me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Item Tax Information</span></a></li>
                                        <li><a href="dashboard-featured.html"><i class="flaticon-real-estate me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Featured Item</span></a></li>
                                        <li><a href="dashboard-offer.html"><i class="flaticon-percentage me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">Offer</span></a></li>
                                    </ul>
                                    <h6 class="text-primary border-bottom-gray pb-3 my-2 ps-3 d-lg-none d-xl-block">Settings</h6>
                                    <ul class="mb-4 text-white">
                                        <li><a href="dashboard-system-setting.html"><i class="flaticon-settings me-3 me-lg-0 me-xl-3"></i><span class="d-lg-none d-xl-block">System Settings</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-xl-10">
                            <div class="row">
                                <div class="dashboard-panel w-100">
                                    <h4 class="text-secondary mb-4">Booking Favorite</h4>
                                    <table class="w-100 items-list bg-transparent">
                                        <thead>
                                            <tr class="bg-white">
                                                <th>Properties</th>
                                                <th>Added Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/thumbnail/01.jpg" alt="">
                                                    <div class="property-info d-table">
                                                        <h5 class="text-secondary">Apolo Family Appartment</h5>
                                                        <span class="location font-14"><i class="fas fa-map-marker-alt font-13 text-primary"></i> Avenue South Burlington, Los Angles</span>
                                                        <div class="price mt-3"> <span class="text-primary">$212,000</span> <span>/ Fixed Amount</span> </div>
                                                    </div>
                                                </td>
                                                <td>10 Jan, 2021</td>
                                                <td><a href="#" class="btn btn-primary">Delete</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center mt-5">
                                            <li class="page-item disabled"> <span class="page-link">Previous</span> </li>
                                            <li class="page-item active" aria-current="page"> <span class="page-link"> 1 <span class="sr-only">(current)</span> </span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">...</li>
                                            <li class="page-item"><a class="page-link" href="#">45</a></li>
                                            <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="dashboard-copyright bg-white py-4 text-center w-100">© 2021 Homex All right reserved</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Scroll to top -->
            <a href="#" class="bg-secondary text-white" id="scroll"><i class="fas fa-angle-up"></i></a>
            <!-- End Scroll To top -->
        </div>
    </div>
    <!-- Wrapper End -->

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/tmpl.js"></script>
    <script src="assets/js/jquery.dependClass-0.1.js"></script>
    <script src="assets/js/draggable-0.1.js"></script>
    <script src="assets/js/jquery.slider.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/YouTubePopUp.jquery.js"></script>
    <script src="assets/js/validate.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>