<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Homex template">
    <meta name="keywords" content="">
    <meta name="author" content="Unicoder">

    <!-- Title -->
    <title>Homex - Real Estate Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Fonts -->
    <link href="../../css.css?family=Muli:400,400i,500,600,700&display=swap" rel="stylesheet">
    <link href="../../css-1.css?family=Comfortaa:400,700" rel="stylesheet">

    <!-- Css Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="assets/css/layerslider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/color.css" id="color-change">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

    <div id="page-wrapper" class="bg-white">
        <header id="header" class="landing-header full-row p-0 nav-on-banner z-9999 one-page-nav">
            <div class="main-nav secondary-nav hover-primary-nav expand-white-nav expand-hover-primary-nav py-3">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg navbar-light p-0">
                                <a class="navbar-brand position-relative" href="#"><img class="nav-logo" src="assets/images/logo/logo.png" alt=""></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
                                    <span class="navbar-toggler-icon"></span> 
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mx-auto">
                                        <li class="nav-item"><a class="nav-link" href="#home-pages">Homes</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#search-page">Search Page</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#dash-board">Dashboard</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#inner-pages">Inner Pages</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#homex-features">Features</a></li>
                                    </ul>
                                    <a class="btn btn-primary btn-lg d-none d-xl-block" href="../../item/homex-real-estate-template/23577930.html">Buy Now $20</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="full-row p-0 bg-light">
            <!-- Slider HTML markup -->
            <div id="slider" style="width:1400px; height:740px; margin:0 auto;margin-bottom: 0px;">
                <!-- Slide 1-->
                <div class="ls-slide" data-ls="bgsize:cover; kenburnsscale:1.2; parallaxtype:3d; parallaxevent:scroll; parallaxdurationmove:500; parallaxdistance:12; parallaxrotate:3;">
                    <img width="1920" height="870" src="assets/images/bg-image/landing-bg.png" class="ls-bg" alt="">
                    <p style="top:42%; left:138px; text-align:left; font-weight:700; font-style:normal; text-decoration:none; font-size:45px; line-height:60px;" class="ls-l highlight-font text-secondary" data-ls="showinfo:1; offsetyin:60; durationin:1400; easingin:easeOutQuint;">Most Professional and Clean <br>Real Estate Template</p>
                    <p style="top:58%; left:138px; width: 600px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; white-space: normal; font-size:18px; line-height:30px;" class="ls-l ordinary-font text-general" data-ls="showinfo:1; offsetyin:90; durationin:1200; delayin:200; easingin:easeOutQuint;">Homex is a Real Estate Template. It’s create in twitter Bootstrap4 version. Lot’s of important pages and features include here. Specially we added user control panel or use admin panel design</p>
                    <div style="top:89%; left:50%; height:44px; width:26px; border-top:2px solid; border-right:2px solid; border-bottom:2px solid; border-left:2px solid;  border-color: var(--theme-primary-color); border-radius:15px;" class="ls-l ls-mouse ls-hide-phone" data-ls="offsetyin:40; delayin:1000; offsetxout:-80; durationout:400; parallaxlevel:0; position:fixed;"></div>
                    <div style="-webkit-backface-visibility: hidden; backface-visibility: hidden; margin-top:-11px;top:90%; left:50%; border-top:2px solid; border-bottom:2px solid; border-radius:15px; width:4px; border-color: var(--theme-primary-color); background:var(--theme-primary-color); height:4px;" class="ls-l ls-mouse ls-hide-phone" data-ls="offsetyin:40; delayin:1000; offsetxout:-80; durationout:400; loop:true; loopoffsety:4; loopduration:600; loopeasing:easeInOutSine; looprotatex:60; looptransformorigin:50% 50% 5px; loopcount:-1; loopyoyo:true; parallaxlevel:0; rotationX:-30; position:fixed;"></div>
                    <a class="ls-l" href="sliderbottom" target="ls-scroll" data-ls="offsetyin:40; delayin:1000; offsetxout:-80; durationout:400; parallaxlevel:0; position:fixed;">
                        <p style="font-weight: normal;padding-top:50px; font-family:Montserrat; font-size:10px; top:91%; left:50%;" class="text-primary ls-hide-phone">SCROLL</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="full-row bg-white py-5">
            <div class="container-fluid">
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-4">
                    <div class="col border-end">
                        <div class="p-4">
                            <i class="flaticon-code-signs flat-medium text-primary"></i>
                            <h5 class="text-secondary mb-3 mt-4">Code Block and Elements</h5>
                            <p>We create lot's of professional code block and element to arrange the homex template. It's very easy to create new custom page using the element.</p>
                        </div>
                    </div>
                    <div class="col border-end">
                        <div class="p-4">
                            <i class="flaticon-dashboard flat-medium text-primary"></i>
                            <h5 class="text-secondary mb-3 mt-4">Page Loading Speed</h5>
                            <p>Though Homex have lot's of pages elements and features but it's page loading speed is very fast and score 80+ in google speed test.</p>
                        </div>
                    </div>
                    <div class="col border-end">
                        <div class="p-4">
                            <i class="flaticon-setting-lines flat-medium text-primary"></i>
                            <h5 class="text-secondary mb-3 mt-4">Easy Customization</h5>
                            <p>The template user experience very high. Homex source code is readable and helpful in beck-end programming. It's play a big role to customize.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4">
                            <i class="flaticon-question flat-medium text-primary"></i>
                            <h5 class="text-secondary mb-3 mt-4">Customer Support</h5>
                            <p>You can expect high technical reply within 24 hrs, average response time is 15 hrs. Customer satisfication is our main focus. You won't be alone using Homex.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-light" id="home-pages">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="d-table text-secondary text-center mx-auto">Stunning Homepages</h2>
                        <span class="text-center mt-4 d-block mb-5 mx-auto font-18">In Homex, your can get everithing what you need for a real estate website. Very informative and professional template including dummy of website admin panel.</span>
                    </div>
                </div>
            </div>
            <div class="container-fluid preview-gallery">
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col mb-5">
                        <a href="index-1.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/1.png" alt="">
                        </a>
                        <a href="index-1.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Default Home</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="index-2.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/2.png" alt="">
                        </a>
                        <a href="index-2.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Investment Home</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="index-3.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/3.png" alt="">
                        </a>
                        <a href="index-3.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Classic Home</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="index-4.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/4.png" alt="">
                        </a>
                        <a href="index-4.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Slider Search</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="index-5.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/5.png" alt="">
                        </a>
                        <a href="index-5.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Fixed Banner Search</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="index-6.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/6.png" alt="">
                        </a>
                        <a href="index-6.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Gastronomy Home</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="index-7.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/7.png" alt="">
                        </a>
                        <a href="index-7.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Slider Map Home</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="../homex-rtl/index.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/40.png" alt="">
                        </a>
                        <a href="../homex-rtl/index.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>RTL Version</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-white" id="search-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="d-table text-secondary text-center mx-auto">Advance Search Page</h2>
                        <span class="text-center mt-4 d-block mb-5 mx-auto font-18">In Homex, we make a different type of search view template. We people go to advance search they will get a different search panel, that's more informative and professional.</span>
                    </div>
                </div>
            </div>
            <div class="container-fluid preview-gallery">
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-1">
                    <div class="col mb-5">
                        <a href="agent-search.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/8.png" alt="">
                        </a>
                        <a href="agent-search.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Agent Search Grid</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-search-grid.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/9.png" alt="">
                        </a>
                        <a href="property-search-grid.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Property Search Grid</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="agent-list-search.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/10.png" alt="">
                        </a>
                        <a href="agent-list-search.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Agent Search List</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-search-list.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/11.png" alt="">
                        </a>
                        <a href="property-search-list.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Property Search List</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-list-map.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/12.png" alt="">
                        </a>
                        <a href="property-list-map.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Map Search List</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-grid-map.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/13.png" alt="">
                        </a>
                        <a href="property-grid-map.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Map Search Grid</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-grid-simple-search.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/14.png" alt="">
                        </a>
                        <a href="property-grid-simple-search.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Simple Search Grid</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-list-simple-search.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/15.png" alt="">
                        </a>
                        <a href="property-list-simple-search.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Simple Search List</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-light" id="dash-board">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="d-table text-secondary text-center mx-auto">Dashboard Preview</h2>
                        <span class="text-center mt-4 d-block mx-auto font-18">In Homex, we design a builting dashboard making combination with the template. So that it becomes helpful to developer creating user and broker admin panel.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-white">
            <div class="container-fluid preview-gallery">
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-1">
                    <div class="col mb-5">
                        <a href="dashboard-massanger.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/20.png" alt="">
                        </a>
                        <a href="dashboard-massanger.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Dashboard Index</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="dashboard-listing.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/21.png" alt="">
                        </a>
                        <a href="dashboard-listing.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Dashboard Listing</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="dashboard-submit-property.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/22.png" alt="">
                        </a>
                        <a href="dashboard-submit-property.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Submit Property</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="dashboard-personal-info.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/23.png" alt="">
                        </a>
                        <a href="dashboard-personal-info.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Dashboard Profile</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="dashboard-profile-setting.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/24.png" alt="">
                        </a>
                        <a href="dashboard-profile-setting.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Dashboard Settings</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="dashboard-tax-info.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/25.png" alt="">
                        </a>
                        <a href="dashboard-tax-info.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Dashboard Tax Info</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="dashboard-system-setting.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/26.png" alt="">
                        </a>
                        <a href="dashboard-system-setting.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>System Settings</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="dashboard-booking.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/27.png" alt="">
                        </a>
                        <a href="dashboard-booking.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Booking Request</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-light" id="inner-pages">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="d-table text-secondary text-center mx-auto">Awesome Inner Page</h2>
                        <span class="text-center mt-4 d-block mx-auto font-18">We include awesome property listing page and important inner pages. It's very simple and mostly it's professional to look. The bottom pages are sample, there have lot more pages inside the template.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-white">
            <div class="container-fluid preview-gallery">
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-1">
                    <div class="col mb-5">
                        <a href="property-grid-sidebar-left.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/16.png" alt="">
                        </a>
                        <a href="property-grid-sidebar-left.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Property Grid Sidebar</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-grid-full.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/17.png" alt="">
                        </a>
                        <a href="property-grid-full.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Property Grid Full</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-list-sidebar-left.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/18.png" alt="">
                        </a>
                        <a href="property-list-sidebar-left.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Property List Sidebar</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-list-full.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/19.png" alt="">
                        </a>
                        <a href="property-list-full.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Property List Full</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-single-1.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/28.png" alt="">
                        </a>
                        <a href="property-single-1.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Single Property One</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-single-2.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/29.png" alt="">
                        </a>
                        <a href="property-single-2.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Single Property Two</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-single-3.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/30.png" alt="">
                        </a>
                        <a href="property-single-3.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Single Property Three</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="property-single-4.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/31.png" alt="">
                        </a>
                        <a href="property-single-4.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Single Property Four</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="content-both-sidebar.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/32.png" alt="">
                        </a>
                        <a href="content-both-sidebar.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Content Page</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="submit-property.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/33.png" alt="">
                        </a>
                        <a href="submit-property.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Submit Property Simple</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="about.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/34.png" alt="">
                        </a>
                        <a href="about.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>About Page</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="agent-details.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/35.png" alt="">
                        </a>
                        <a href="agent-details.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Agent Details</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="services.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/36.png" alt="">
                        </a>
                        <a href="services.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Service Page</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="service-details.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/37.png" alt="">
                        </a>
                        <a href="sservice-details.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Service Details</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="service-details.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/38.png" alt="">
                        </a>
                        <a href="service-details.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Service Details</h5>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="pricing-table.html" class="preview-thumb d-block mb-4 transation-3s" target="_blank">
                            <img class="shadow" src="assets/images/preview/39.png" alt="">
                        </a>
                        <a href="pricing-table.html" target="_blank" class="text-center hover-text-primary text-secondary">
                            <h5>Pricing Page</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-light" id="homex-features">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="d-table text-secondary text-center mx-auto">Template Features</h2>
                        <span class="text-center mt-4 mb-5 d-block mx-auto font-18">In the Beautiful Homex template you can get massive features for your website. So you can easily customize your website. And it's will very professional to look.</span>
                    </div>
                </div>
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-4">
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/1.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../index.htm">Bootstrap4</a></h6>
                            <p>Homex built using bootstrap4 grid system. It's a popular responsive page builder.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/2.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../index-1.htm?platform=jquery">Layer Slider</a></h6>
                            <p>As a slider we use premium layer slider plugin, it's very easy to customize.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/3.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="https://www.flaticon.com/">Flaticon Use</a></h6>
                            <p>Lot's of icon you can create and use from flaticon. You can use any icon as font from here.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/4.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../index-2.htm">FontAwesome</a></h6>
                            <p>We also include font awesome icons. We added the latest version of fontawesome.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/5.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../html/default.asp.html">HTML5</a></h6>
                            <p>Homex source code arrange using html5. Most of the part are use the HTML5 tags.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/6.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../index-3.htm">jQuery</a></h6>
                            <p>The a have a jQuery control settings and use all the latest version of plugin.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/7.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../index-4.htm">W3School Validate</a></h6>
                            <p>All the template has validate by w3schools. No code error and warning issues.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/8.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../index-5.htm">Google Speed Test</a></h6>
                            <p>Good rank and score in google website speed test. It's impress to the client.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/9.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../docs/lighthouse/overview/index.htm">Responsive</a></h6>
                            <p>The template is 100% responsive. It perfectly visible in large to small device.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/10.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3"><a href="../../index-6.htm">Google Font</a></h6>
                            <p>As a font we use the google font. Top of the page there include the google font api.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/11.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3">Well Documented</h6>
                            <p>Home is very well ducumented, complete instruction how to setup the template.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 bg-white text-center">
                            <span class="d-table mx-auto mb-3" style="width: 80px"><img src="assets/images/icon/12.png" alt="real estate template"></span>
                            <h6 class="text-secondary mb-3">SEO Friendly</h6>
                            <p>The template is very cool for SEO friendly. It's suitable for one page SEO.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="full-row bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-white w-75 text-center mx-auto mb-3">Make your real estate website using Homex template. Only $20</h1>
                        <span class="d-table mx-auto w-50 text-white text-center mb-5">Impressive design, powerful features, and easy customization</span>
                        <a href="../../item/homex-real-estate-template/23577930.html" class="btn btn-primary mx-auto d-table">Purchase Now</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/tmpl.js"></script>
    <script src="assets/js/jquery.dependClass-0.1.js"></script>
    <script src="assets/js/draggable-0.1.js"></script>
    <script src="assets/js/jquery.slider.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/YouTubePopUp.jquery.js"></script>
    <script src="assets/js/validate.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/custom.js"></script>

    <script>
        $(document).ready(function() {
            $('#slider').layerSlider({
                sliderVersion: '6.2.2',
                type: 'fullwidth',
                maxRatio: 1,
                skin: 'v6',
                sliderFadeInDuration: 450,
                showCircleTimer: false,
                skinsPath: 'skins/',
                height: 870
            });
        });
    </script>
</body>

</html>