<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Homex template">
    <meta name="keywords" content="">
    <meta name="author" content="Unicoder">

    <!-- Title -->
    <title>Homex - Real Estate Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Fonts -->
    <link href="../../css.css?family=Muli:400,400i,500,600,700&display=swap" rel="stylesheet">
    <link href="../../css-1.css?family=Comfortaa:400,700" rel="stylesheet">

    <!-- Css Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="assets/css/layerslider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/color.css" id="color-change">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

    <!--	Page Loader -->
    <!-- <div class="page-loader position-fixed z-index-9999 w-100 bg-white vh-100">
	<div class="d-flex justify-content-center y-middle position-relative">
	  <div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	  </div>
	</div>
</div> -->

    <!-- Color Settings -->
    <div class="color-panel">
        <div class="on-panel bg-primary"><img src="assets/images/settings.png" alt=""></div>
        <div class="panel-box"> <span class="panel-title">Theme Colors</span>
            <ul class="color-box">
                <li class="default" data-name="default" data-path="assets/css/color.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_2" data-name="color_2" data-path="assets/css/colors/color_2.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_3" data-name="color_3" data-path="assets/css/colors/color_3.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_4" data-name="color_4" data-path="assets/css/colors/color_4.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_5" data-name="color_5" data-path="assets/css/colors/color_5.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
                <li class="color_6" data-name="color_6" data-path="assets/css/colors/color_6.css" data-image="assets/images/logo/logo.png" data-target="assets/images/logo/logo.png"></li>
            </ul>
        </div>
        <div class="switcher_layout"> <span class="layout_title">Layout Style</span>
            <div class="radio_check">
                <input type="checkbox" id="layout_type" name="layout" value="Yes">
                <label class="bg-primary text-left" for="layout_type"><span class="text-white">Box</span><span class="text-white">Full</span></label>
            </div>
        </div>
        <div class="box_bg_style"> <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="patrn1" value="pattern_1">
                        <label for="patrn1" class="radios pattern1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn2" value="pattern_2">
                        <label for="patrn2" class="radios pattern2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn3" value="pattern_3">
                        <label for="patrn3" class="radios pattern3"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn4" value="pattern_4">
                        <label for="patrn4" class="radios pattern4"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn5" value="pattern_5">
                        <label for="patrn5" class="radios pattern5"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn6" value="pattern_6">
                        <label for="patrn6" class="radios pattern6"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn7" value="pattern_7">
                        <label for="patrn7" class="radios pattern7"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn8" value="pattern_8">
                        <label for="patrn8" class="radios pattern8"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn9" value="pattern_9">
                        <label for="patrn9" class="radios pattern9"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn10" value="pattern_10">
                        <label for="patrn10" class="radios pattern10"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn11" value="pattern_11">
                        <label for="patrn11" class="radios pattern11"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn12" value="pattern_12">
                        <label for="patrn12" class="radios pattern12"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn13" value="pattern_13">
                        <label for="patrn13" class="radios pattern13"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn14" value="pattern_14">
                        <label for="patrn14" class="radios pattern14"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="patrn15" value="pattern_15">
                        <label for="patrn15" class="radios pattern15"></label>
                    </li>
                </ul>
            </div>
            <span class="layout_title">Background pattern</span>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="radio" name="radio" id="bg_img1" value="body_bg_1">
                        <label for="bg_img1" class="radios body_image1"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img2" value="body_bg_2">
                        <label for="bg_img2" class="radios body_image2"></label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="bg_img3" value="body_bg_3">
                        <label for="bg_img3" class="radios body_image3"></label>
                    </li>
                </ul>
            </div>
            <div class="select_bg">
                <ul>
                    <li>
                        <input type="checkbox" name="vilena_overlay" id="bg_over" value=""> Overlay
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Color Settings -->

    <div id="page-wrapper" class="bg-white">
        <!--============== Header One Section Start ==============-->
        <header id="header" class="fixed-header-bg-white">
            <div class="top-header bg-secondary py-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="d-flex h-100 align-items-center justify-content-start">
                                <div class="me-3"><a href="callto:012345678102" class="text-white"><i class="fas fa-phone-alt text-primary me-1"></i>(012) 345 678 102</a></div>
                                <div class="me-3"><a href="mailto:office@example.com" class="text-white"><i class="fas fa-envelope text-primary me-1"></i>office@example.com</a></div>
                                <div class="dropdown hover-dropdown">
                                    <button class="dropdown-toggle text-white" type="button" data-bs-toggle="dropdown">Help and Support</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="how-it-work.html">How It Work</a></li>
                                        <li><a class="dropdown-item" href="general-support.html">General Support</a></li>
                                        <li><a class="dropdown-item" href="help-center.html">Help Center</a></li>
                                        <li><a class="dropdown-item" href="support-article-details.html">Support Article</a></li>
                                        <li><a class="dropdown-item" href="terms-and-condition.html">Terms & Condition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex h-100 align-items-center justify-content-end">
                                <div class="currency me-2">
                                    <form action="#" method="post">
                                        <div class="select-arrow text-white">
                                            <select class="form-select">
                                                <option>$ USD</option>
                                                <option>£ EUR</option>
                                                <option>₹ Rupi</option>
                                                <option>৳ Taka</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="language">
                                    <form action="#" method="post">
                                        <div class="select-arrow text-white">
                                            <select class="form-select">
                                                <option>EN</option>
                                                <option>SP</option>
                                                <option>AR</option>
                                                <option>BN</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-nav bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg navbar-light secondary-nav hover-primary-nav">
                                <a class="navbar-brand" href="index-1.html"><img class="nav-logo" src="assets/images/logo/logo.png" alt=""></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                  </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="index-1.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index.html" target="_blank">Landing Page</a></li>
                                                <li><a class="dropdown-item" href="index-1.html">Default Home</a></li>
                                                <li><a class="dropdown-item" href="index-2.html">Investment Home</a></li>
                                                <li><a class="dropdown-item" href="index-3.html">Classic Home</a></li>
                                                <li><a class="dropdown-item" href="index-4.html">Slider Search</a></li>
                                                <li><a class="dropdown-item" href="index-5.html">Fixed Banner Search</a></li>
                                                <li><a class="dropdown-item" href="index-6.html">Gastronomy Slider</a></li>
                                                <li><a class="dropdown-item" href="index-7.html">Map Home</a></li>
                                                <li><a class="dropdown-item" href="../homex-rtl/index-1.html" target="_blank">RTL Support</a></li>
                                                <li><a class="dropdown-item" href="comming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="property-agents-grid.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agent</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-agents-grid.html">Property Agent</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-agents-grid.html">Grid View</a></li>
                                                        <li><a class="dropdown-item" href="property-agents-list.html">List View</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="agent-search.html">Agent Search</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="agent-search.html">Grid View</a></li>
                                                        <li><a class="dropdown-item" href="agent-list-search.html">List View</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="agent-details.html">Agent Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="property-grid-sidebar-left.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listing</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-grid-sidebar-left.html">Property Grid</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-grid-sidebar-left.html">Left Sidebar</a></li>
                                                        <li><a class="dropdown-item" href="property-grid-sidebar-right.html">Right Sidebar</a></li>
                                                        <li><a class="dropdown-item" href="property-grid-full.html">Full Width</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-list-sidebar-left.html">Property List</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-list-sidebar-left.html">Left Sidebar</a></li>
                                                        <li><a class="dropdown-item" href="property-list-sidebar-right.html">Right Sidebar</a></li>
                                                        <li><a class="dropdown-item" href="property-list-full.html">Full Width</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-list-map.html">Property Search</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-list-map.html">List Map Search</a></li>
                                                        <li><a class="dropdown-item" href="property-grid-map.html">Grid Map Search</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-grid-simple-search.html">Simple Search</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-grid-simple-search.html">Grid Search</a></li>
                                                        <li><a class="dropdown-item" href="property-list-simple-search.html">List Search</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-single-1.html">Single Property</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-single-1.html">Single Property 1</a></li>
                                                        <li><a class="dropdown-item" href="property-single-2.html">Single Property 2</a></li>
                                                        <li><a class="dropdown-item" href="property-single-3.html">Single Property 3</a></li>
                                                        <li><a class="dropdown-item" href="property-single-4.html">Single Property 4</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="agent-search.html">Advance Search</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="agent-search.html">Agent Search Grid</a></li>
                                                        <li><a class="dropdown-item" href="agent-list-search.html">Agent Search List</a></li>
                                                        <li><a class="dropdown-item" href="property-search-grid.html">Property Search Grid</a></li>
                                                        <li><a class="dropdown-item" href="property-search-list.html">Property Search List</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="dashboard-personal-info.html">My Account</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="dashboard-personal-info.html">Personal Info</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-profile-setting.html">Profile Settings</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-change-password.html">Change Password</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-social-media.html">Social Media Settings</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-massanger.html">Dashboard</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="content-left-sidebar.html">Content Page</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="content-left-sidebar.html">Content Left Sidebar</a></li>
                                                        <li><a class="dropdown-item" href="content-right-sidebar.html">Content Right Sidebar</a></li>
                                                        <li><a class="dropdown-item" href="content-both-sidebar.html">Content Both Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="submit-property.html">Submit Property</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown mega-menu-dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <ul class="dropdown-menu mega-menu">
                                                <li>
                                                    <ul class="mega-dropdown">
                                                        <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                                        <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                                        <li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
                                                        <li><a class="dropdown-item" href="services.html">Services</a></li>
                                                        <li><a class="dropdown-item" href="service-details.html">Services Details</a></li>
                                                        <li><a class="dropdown-item" href="reviews.html">Reviews</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul class="mega-dropdown">
                                                        <li><a class="dropdown-item" href="pricing-table.html">Pricing</a></li>
                                                        <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                                        <li><a class="dropdown-item" href="register.html">Register</a></li>
                                                        <li><a class="dropdown-item" href="login.html">Login</a></li>
                                                        <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a></li>
                                                        <li><a class="dropdown-item" href="timeline.html">Timeline</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul class="mega-dropdown">
                                                        <li><a class="dropdown-item" href="compare.html">Compare</a></li>
                                                        <li><a class="dropdown-item" href="property-list-sidebar-left.html">Property List Sidebar Left</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-booking.html">Dashboard Booking</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-purchase.html">Dashboard Purchase</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-submit-property.html">Submit Property</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-system-setting.html">System Settings</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul class="mega-dropdown">
                                                        <li><a class="dropdown-item" href="dashboard-comment.html">Dashboard Comment</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-favorite.html">Dashboard Favorite</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-invoice.html">Invoice</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-message.html">Messages</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-tax-info.html">Tax Information</a></li>
                                                        <li><a class="dropdown-item" href="error.html">Error Page</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item"> <a class="nav-link" href="contact.html">Contact</a> </li>
                                    </ul>
                                    <a href="login.html" class="hover-text-primary text-secondary me-3">Login / Register</a>
                                    <a class="btn btn-primary d-none d-xl-block" href="dashboard-submit-property.html">Submit Peoperty</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--============== Header One Section End ==============-->

        <!--============== Banner Section Start ==============-->
        <div class="page-banner full-row bg-gray py-5">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1 g-3">
                    <div class="col">
                        <h3 class="page-name text-secondary m-0">Agents</h3>
                    </div>
                    <div class="col">
                        <nav class="float-start float-md-end">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="index-1.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item active">Agents</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Banner Section End ==============-->

        <!--============== Agents Section Start ==============-->
        <div class="full-row bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="py-4">
                            <div class="row">
                                <div class="col-md-9">
                                    <form class="selecting-command d-flex flex-wrap" method="get">
                                        <label class="me-10">Shorts By :</label>
                                        <div class="select-arrow me-30">
                                            <select class="form-control form-select bg-gray">
                                                <option>Default Order</option>
                                                <option>Newest First</option>
                                                <option>Oldest First</option>
                                                <option>Top Rated</option>
                                                <option>Most Popular</option>
                                            </select>
                                        </div>
                                        <label>1-10 of 25 results</label>
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <div class="view-category">
                                        <a href="property-agents-grid.html" title="Grid" class="active"><i class="fas fa-th-large"></i></a>
                                        <a href="property-agents-list.html" title="List"><i class="fas fa-th-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/01.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Karen Eilla Boyette</a></h5>
                                <span>Appartment Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/02.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                <span>Condos Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/03.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Linda Dina Pate</a></h5>
                                <span>Commercial Building Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/04.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Karen Eilla Boyette</a></h5>
                                <span>Appartment Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/05.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                <span>Condos Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/06.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Linda Dina Pate</a></h5>
                                <span>Commercial Building Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/07.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Karen Eilla Boyette</a></h5>
                                <span>Appartment Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/08.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                <span>Condos Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/09.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Linda Dina Pate</a></h5>
                                <span>Commercial Building Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/10.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Karen Eilla Boyette</a></h5>
                                <span>Appartment Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/11.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Walter Devid Moye</a></h5>
                                <span>Condos Agent</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="hover-zoomer bg-white shadow-one">
                            <div class="overflow-hidden"> <img src="assets/images/team/12.png" alt=""> </div>
                            <div class="py-3 text-center">
                                <h5 class="text-secondary hover-text-primary"><a href="#">Linda Dina Pate</a></h5>
                                <span>Commercial Building Agent</span> </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-auto">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item disabled"> <span class="page-link">Previous</span> </li>
                                <li class="page-item active" aria-current="page"> <span class="page-link"> 1 <span class="sr-only">(current)</span> </span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">...</li>
                                <li class="page-item"><a class="page-link" href="#">45</a></li>
                                <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Agents Section End ==============-->

        <!--============== Subscribe Section Start ==============-->
        <div class="full-row bg-gray p-0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="divider py-80">
                            <div class="row align-items-center g-3">
                                <div class="col-lg-7">
                                    <h4 class="text-secondary mb-0">Enter your email for subscribe to get monthly newslatter</h4>
                                </div>
                                <div class="col-lg-5">
                                    <form class="subscribe">
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Enter your email">
                                            <button class="btn btn-primary" type="submit">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Subscribe Section End ==============-->

        <!--============== Footer Section Start ==============-->
        <footer class="full-row bg-gray p-0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="divider py-80">
                            <div class="row g-4">
                                <div class="col-lg-4">
                                    <div class="footer-widget">
                                        <div class="footer-logo mb-4">
                                            <a href="#"><img class="logo-bottom" src="assets/images/logo/logo.png" alt="image"></a>
                                        </div>
                                        <p class="pb-20">Risus commodo congue augue phasellus morbi hymenaeos ante tincidunt eu orci dictum bibendum lacus platea primis mi lacinia felis gravida natoque bibendum cubilia montes tristique et arcu blandit risus. Lobortis
                                            dignissim nam.
                                        </p>
                                        <a class="btn btn-primary mt-4" href="#">Register Now</a>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row row-cols-md-3 row-cols-1">
                                        <div class="col">
                                            <div class="footer-widget footer-nav">
                                                <h4 class="widget-title text-secondary double-down-line-left position-relative">Support</h4>
                                                <ul>
                                                    <li><a href="#">Forum</a></li>
                                                    <li><a href="#">Statistics</a></li>
                                                    <li><a href="#">Terms and Condition</a></li>
                                                    <li><a href="#">Get Support</a></li>
                                                    <li><a href="#">Freequenly Ask Question</a></li>
                                                    <li><a href="#">Contact</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="footer-widget footer-nav">
                                                <h4 class="widget-title text-secondary double-down-line-left position-relative">Quick Links</h4>
                                                <ul>
                                                    <li><a href="#">About Us</a></li>
                                                    <li><a href="#">Featured Property</a></li>
                                                    <li><a href="#">Become A Member</a></li>
                                                    <li><a href="#">Submit Property</a></li>
                                                    <li><a href="#">How It Work</a></li>
                                                    <li><a href="#">Our Agents</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="footer-widget">
                                                <h4 class="widget-title text-secondary double-down-line-left position-relative">Contact Us</h4>
                                                <ul>
                                                    <li>Collins Street West, Victoria 8007, Australia</li>
                                                    <li>+1 246-345-0695</li>
                                                    <li>helpline@homex.com</li>
                                                </ul>
                                            </div>
                                            <div class="footer-widget media-widget mt-4 text-secondary hover-text-primary">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                <a href="#"><i class="fas fa-rss"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright Start -->
            <div class="copyright">
                <div class="container">
                    <div class="row row-cols-sm-2 row-cols-1">
                        <div class="col"> <span>© 2021 Homex All right reserved</span> </div>
                        <div class="col">
                            <ul class="line-menu text-ordinary float-end">
                                <li><a href="#">Privacy & Policy</a></li>
                                <li>|</li>
                                <li><a href="#"> Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright End -->
        </footer>
        <!--============== Footer Section End ==============-->

        <!-- Scroll to top -->
        <a href="#" class="bg-secondary text-white" id="scroll"><i class="fas fa-angle-up"></i></a>
        <!-- End Scroll To top -->
    </div>
    <!-- Wrapper End -->

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!--jQuery Layer Slider -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/tmpl.js"></script>
    <script src="assets/js/jquery.dependClass-0.1.js"></script>
    <script src="assets/js/draggable-0.1.js"></script>
    <script src="assets/js/jquery.slider.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/YouTubePopUp.jquery.js"></script>
    <script src="assets/js/validate.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>