body  {
    --primary-color: #BC7635;
    --primary-color-700: #FFF5EC;
    --secondary-color: #1F193B;
    --primary-font-color: #070026;
    --secondary-font-color: #E6F2FF;
    --a-hover-color: #BC7635;
    --heading-color: #070026;
    --descprition-color: #73777D;
    --deaf-font-color: #222222;
    --deaf-font-color-600: #8894ad1f;
    --deaf-font-color-400: #8894ad44;
    --label-font-color: #151e42;
    --input-font-color-700: #6d7ca3;
    --input-font-color-500: #484f5f;
    --input-border-color: #d4dcff;
    --faded-font-color: #525c84;
    --primary-disabled: #0075ff22;
    --primary-border-color: #eaeef7;
    --primary-border-color-600: #e5edf966;
    --grid-text-color: #73777D;
    --overlay-color: #000000;
    --stats-bg-color: #F4F5F7;
    --stars-color: #d1e4fa;
    --dashboard-secondary-bg-color: #f5f9fd;
    --black-700: #000000;
    --white-700: #ffffff;
    --white-500: #FFFFFFDE;
    --white-200: #ffffff22;
    --orange-700: #f8b849;
    --purple-700: #4339f2;
    --red-700: #fb295b;
    --green-700: #34b53a;
    --green-500: #00A884;
    --grey-700: #808080;
    --cyan-700: #28F8C0;
    --golden-700: #F8BB18;
    --input-radius: 10px;
    --border-radius-lg: 20px;
    --border-radius: 12px;
    --border-radius-md: 16px;
    --border-radius-xs: 4px;
    --primary-font: 'Urbanist';
    --icons-font: "Font Awesome 6 Free";
    --transition: 300ms;
    --overlay-opacity: 0.6;
    /* Icons Variables */
    --chevron-down-icon-code: "\f078";
    --heart-filled-icon-code: "\f004";
    --star-filled-icon-code: "\f005";
    --square-icon-code: "\f0c8";
    --check-icon-code: "\f00c";
    --circle-icon-code: "\f111";
    --close-icon-code: "\f00d";
    --marker-icon-code: "\f3c5";
    --search-icon-code: "\f002";
    --remove-heart-icon-code: "\e4ff";
    --loading-icon: "\f110";
    --bs-body-font-family: 'Urbanist';
}
.property-thumnail {
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    transition: var(--transition);
}

.property-thumnail:hover {
    box-shadow: 1px 20px 50px 0px #dddddd7d;
}

.pro-thumnail-image img {
    width: 100%;
    height: 191px;
    object-fit: cover;
}

.pro-thumnail-image a {
    width: 100%;
}

.pro-thumnail-content {
    padding: 8px 16px;
    height: auto;
    border: solid #80808033;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 8px 8px;
}

 
.pro-thumnail-content .heading h5 {
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    color: var( --primary-font-color);
    transition: var(--transition);
}

.pro-thumnail-content .heading h5:hover {
    color: var(--primary-color);
}

 

.pro-thumnail-content .text p {
    font-size: 12px;
    font-weight: 400;
    color: var(--grid-text-color);
    padding: 4px 0px 0px 0px;
}

.room-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-price p {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
    color: var(--grid-text-color);
}

.room-price span {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
    color: var(--primary-font-color);
}