/* defaults styles  */


/* This is because whare headers change then the color cheme and also fonts changed */

#realestate-content {
    --primary-color: #0A4BE3;
    --primary-color-700: #E6F2FF;
    --secondary-color: #070026;
    --primary-font-color: #070026;
    --secondary-font-color: #E6F2FF;
    --a-hover-color: #0A4BE3;
    --heading-color: #070026;
    --descprition-color: #73777D;
    --deaf-font-color: #222222;
    --deaf-font-color-600: #8894ad1f;
    --deaf-font-color-400: #8894ad44;
    --label-font-color: #151e42;
    --input-font-color-700: #6d7ca3;
    --input-font-color-500: #6d7ca388;
    --input-font-color-500: #484f5f;
    --input-border-color: #d4dcff;
    --faded-font-color: #525c84;
    --primary-disabled: #0075ff22;
    --primary-border-color: #e5edf9;
    --primary-border-color-600: #e5edf966;
    --primary-border-color: #eaeef7;
    --grid-text-color: #424857;
    --grid-text-color: #73777D;
    --overlay-color: #000000;
    --stats-bg-color: #F4F5F7;
    --stars-color: #d1e4fa;
    --dashboard-secondary-bg-color: #f5f9fd;
    --black-700: #000000;
    --white-700: #ffffff;
    --white-500: #FFFFFFDE;
    --white-200: #ffffff22;
    --orange-700: #f8b849;
    --purple-700: #4339f2;
    --red-700: #fb295b;
    --green-700: #34b53a;
    --green-500: #00A884;
    --grey-700: #808080;
    --cyan-700: #28F8C0;
    --golden-700: #F8BB18;
    --input-radius: 10px;
    --border-radius-lg: 20px;
    --border-radius: 12px;
    --border-radius-md: 16px;
    --border-radius-xs: 4px;
    --primary-font: Inter;
    --icons-font: "Font Awesome 6 Free", emoji;
    --transition: 300ms;
    --overlay-opacity: 0.6;
    /* Icons Variables */
    --chevron-down-icon-code: "\f078";
    --heart-filled-icon-code: "\f004";
    --star-filled-icon-code: "\f005";
    --square-icon-code: "\f0c8";
    --check-icon-code: "\f00c";
    --circle-icon-code: "\f111";
    --close-icon-code: "\f00d";
    --marker-icon-code: "\f3c5";
    --search-icon-code: "\f002";
    --remove-heart-icon-code: "\e4ff";
    --loading-icon: "\f110";
    --bs-body-font-family: 'inter';
}


/**
 * Default CSS Start
 *
 * This CSS Will Be Overwrite With Dynamic CSS
 */

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1120px;
    }
}

body {
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--grid-text-color);
    margin: 0 0 0 0;
}

h1 {
    font-size: 48px;
    line-height: 1.3em;
    font-weight: 700;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h2 {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h3 {
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 700;
    font-family: var(--bs-body-font-family);
    color: var(--primary-font-color);
    margin: 0 0 0 0;
}

h4 {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h5 {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h6 {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--descprition-color);
    margin: 0 0 0 0;
}


/* Start header css  */

:root {
    --home-header-bg: #fff0;
    --inner-header-bg: #070026;
}
.realestate-header-container.agency-header .realestate-navigation-nav-menus li:hover>a {
    background-color: #E6F2FF;
    color: #0B4BE2; 
}
.realestate-header-container {
    padding: 30px 24px;
    z-index: 999;
    background-color: var(--home-header-bg);
    position: relative;
}

.realestate-header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.realestate-header-logo {
    max-width: 205px;
}

.realestate-submission-btn {
    border: unset;
    background-color: var(--primary-color-700);
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 12px 16px;
    border-radius: 4px;
}

.header-classic2 .realestate-submission-btn {
    background: #fff;
}

.realestate-not-filled-btn-login.realestate-offcanvas-menu-btn {
    color: var(--primary-color);
    border: unset;
    margin-right: 12px;
    background: #fff0;
    border-bottom: 2px solid #fff0;
    text-align: center;
    font-size: 12px;
    background-color: #fff0 !important;
    font-weight: 500;
    padding: 0 7px;
}

.realestate-not-filled-btn-login.realestate-offcanvas-menu-btn:hover {
    border-bottom: 2px solid var(--primary-color);
}

.realestate-not-filled-btn {
    border: unset;
    background-color: var(--primary-color-700);
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 12px 16px;
    border-radius: 4px;
}

.realestate-not-filled-btn-login i,
.realestate-submission-btn i {
    background-color: var(--primary-color);
    color: var(--white-700);
    width: 24px;
    height: 24px;
    border-radius: 6px;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
}

.realestate-submission-btn:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-700);
}

.realestate-submission-btn:hover i {
    background-color: var(--primary-color-700);
    color: var(--primary-color);
}

.realestate-navigation-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0;
}

.realestate-navigation-nav ul a {
    color: var(--primary-font-color);
    padding: 9px 13px;
    line-height: 1.6em;
    border-radius: 8px;
}

.realestate-navigation-nav ul a:hover {
    background-color: #fff;
    color: var(--primary-color); 
}


/* End header css  */


/* realestate  inner header  */

.realestate-header-container-bottom {
    background-color: var(--inner-header-bg);
}

.realestate-navigation-inner-menus-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.realestate-navigation-inner-menus-list a {
    background: #423b62;
    color: var(--white-700);
    font-size: 12px;
    transition: var(--transition);
    border-radius: 50px;
    padding: 5px 11px;
}

.realestate-navigation-inner-menus-list a:hover {
    background-color: var(--primary-color);
    color: var(--white-700);
}

.realestate-header.inner-pages-header .realestate-header-container {
    background-color: var(--inner-header-bg);
}

.realestate-header.inner-pages-header .realestate-form-content {
    display: flex;
}

.realestate-header.inner-pages-header .realestate-form-content .realestate-form-inputs {
    width: 200px;
    background: #FFFFFF;
    height: 48px;
    border-radius: 4px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
}

.realestate-header.inner-pages-header .realestate-form-content .select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}

.realestate-header.inner-pages-header .realestate-form-content .realestate-form-inputs span.select2-selection.select2-selection--single.select2-selection--clearable {
    border: unset;
    font-size: 14px;
    color: #73777D !important;
}

.realestate-header.inner-pages-header .realestate-form-content .realestate-form:first-child {
    width: 200px;
}

.realestate-header.inner-pages-header .realestate-form-content .select2.select2-container {
    width: 100% !important;
}

.realestate-header.inner-pages-header .realestate-form-content .realestate-form-inputs img {
    margin-top: 7px;
}

.realestate-header.inner-pages-header .realestate-form-content .realestate-form-inputs span {
    color: #73777D;
    font-weight: 400;
    font-size: 14px;
}

.realestate-header.inner-pages-header .realestate-form-content .realestate-form:nth-child(2) {
    width: calc(100% - 327px);
    background: #FFFFFF;
    height: 48px;
    border-radius: 4px 0 0 4px;
    padding: 8px 9px;
    display: flex;
    align-items: center;
    margin-left: 17px;
}

.realestate-header.inner-pages-header .realestate-form-content .realestate-form:nth-child(2) .realestate-form-inputs {
    width: 100% ! IMPORTANT;
    padding: 0 0 0 14px;
}
.realestate-header.inner-pages-header .realestate-form-content .realestate-form:nth-child(2) .realestate-form-inputs input {
    border: unset;
    background: none;
    box-shadow: unset;
}
.realestate-header.inner-pages-header .realestate-form-content .realestate-form.search button {
    background: #FFFFFF;
    height: 48px;
    border-radius: 0 4px 4px 0;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    margin-left: 1px;
}

.realestate-navigation-nav-menus .sub-menu a {
    min-width: 150px;
    color: var(--primary-font-color);
    font-size: 13px;
    border-bottom: 1px solid #dddddd5c;
    padding: 8px 13px;
    border-radius: 0;
}

.realestate-navigation-nav-menus .sub-menu i {
    color: var(--primary-font-color) !important;
}

.realestate-navigation-nav-menus .sub-menu li:first-child a {
    border-radius: 8px 8px 0 0;
}

.realestate-navigation-nav-menus .sub-menu li:last-child a {
    border-radius: 0 0 8px 8px;
}

.realestate-navigation-nav-menus .sub-menu li:last-child a {
    border: unset;
}

.realestate-navigation-nav-menus .sub-menu {
    border-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 9px 16px 57px 0 #00000029;
    z-index: 9999;
    background: var(--white-700);
    position: absolute;
    border-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 9px 16px 57px 0 #00000029;
    background: var(--white-700);
    flex-direction: column;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    transform: scale(0.8) translate(0px, -32px);
}

.realestate-navigation-nav-menus li:hover>.sub-menu {
    transform: scale(1) translate(0px, 5px);
    opacity: 1;
    gap: 0 !important;
    visibility: visible;
}

.realestate-navigation-nav-menus .sub-menu::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    z-index: -1;
    top: -6px;
    left: 15px;
    transform: rotate(45deg);
}

.realestate-navigation-nav-menus i {
    color: var(--primary-font-color);
    transition: var(--transition);
    font-size: 10px;
    margin-top: -1px;
    margin-left: 3px;
}

.realestate-navigation-nav-menus .sub-menu .sub-menu::after {
    left: unset;
    right: -6px;
    top: 9px;
}

.realestate-navigation-nav-menus .sub-menu .sub-menu {
    left: -155px;
    top: 0;
}

.realestate-navigation-nav-menus li:hover>a i {
    transform: rotate(180deg);
}


/* inner header  */

.inner-pages-header .realestate-not-filled-btn-login.realestate-offcanvas-menu-btn {
    color: #fff;
    padding: 0 4px;
}

.inner-pages-header .realestate-navigation-nav ul a {
    color: #fff;
}

.inner-pages-header .realestate-navigation-nav ul a i {
    color: #fff;
}

.inner-pages-header .realestate-navigation-nav ul .sub-menu a {
    color: #000000;
}

.inner-pages-header .realestate-navigation-nav ul a:hover i,
.inner-pages-header .realestate-navigation-nav ul a:hover {
    background-color: #fff;
    color: #000;
}

.header-classic2 .realestate-classic-navigation-icons i {
    color: #fff;
}

.header-classic2 .realestate-not-filled-btn-login.realestate-offcanvas-menu-btn {
    color: #fff;
}


.header-classic2 .realestate-not-filled-btn-login.realestate-offcanvas-menu-btn:hover {
    border-bottom: 2px solid #fff;
}

.agency-header .realestate-not-filled-btn-login:hover {
    border-bottom: 2px solid var(--primary-color);
}

.realestate-header.inner-pages-header .realestate-header-container .realestate-not-filled-btn-login.realestate-offcanvas-menu-btn:hover {
    border-color: #fff;
}


/* New css  */
.realestate-header.home2 .realestate-header-container {
    padding: 60px 0px;
}


 
.realestate-classic-navigation-icons {
    margin-right:15px !important;
}
.realestate-header.home2 .realestate-submission-btn {
    background-color: #fff;
}

.realestate-header.home2   .realestate-navigation-nav-menus i,
.realestate-header.home2  .realestate-navigation-nav ul a,
.realestate-header.home2 .realestate-submission-btn,
.realestate-header.home2 .realestate-not-filled-btn-login.realestate-offcanvas-menu-btn,
.realestate-header.home2 .realestate-classic-navigation-icons i {
    color: #373373;
}
.realestate-header.home2 .realestate-submission-btn:hover,
.realestate-header.home2 .realestate-submission-btn i {
    background-color: #373373;
}

.realestate-header.home2 .realestate-submission-btn:hover{
    color: #fff;
}
.realestate-header.home2 .realestate-submission-btn:hover i{
    background-color: #fff;
}
 
/* home 1 header styling  */
.realestate-header.home1 .realestate-header-container {
    padding: 56px 0;
}
.realestate-header.inner-pages-header .realestate-header-container .realestate-classic-navigation-icons i {
    color: #fff;
}