/* defaults styles  */


/* This is because whare headers change then the color cheme and also fonts changed */

#realestate-content{
    --primary-color: #19CF79 !important;
    --primary-color-700: #9ef5cc;
    --secondary-color: #333333;
    --primary-font-color: #181A20;
    --secondary-font-color: #E6F2FF;
    --a-hover-color: #009FF5;
    --heading-color: #181A20;
    --descprition-color: #181A20;
    --deaf-font-color: #222222;
    --deaf-font-color-600: #8894ad1f;
    --deaf-font-color-400: #8894ad44;
    --label-font-color: #151e42;
    --input-font-color-700: #6d7ca3;
    --input-font-color-500: #6d7ca388;
    --input-font-color-500: #484f5f;
    --input-border-color: #d4dcff;
    --faded-font-color: #525c84;
    --primary-disabled: #0075ff22;
    --primary-border-color: #e5edf9;
    --primary-border-color-600: #e5edf966;
    --primary-border-color: #eaeef7;
    --grid-text-color: #424857;
    --overlay-color: #000000;
    --stats-bg-color: #F4F5F7;
    --stars-color: #d1e4fa;
    --dashboard-secondary-bg-color: #f5f9fd;
    --black-700: #000000;
    --white-700: #ffffff;
    --white-500: #FFFFFFDE;
    --white-200: #ffffff22;
    --orange-700: #f8b849;
    --purple-700: #4339f2;
    --red-700: #fb295b;
    --green-700: #34b53a;
    --green-500: #00A884;
    --grey-700: #808080;
    --cyan-700: #28F8C0;
    --golden-700: #F8BB18;
    --input-radius: 10px;
    --border-radius-lg: 20px;
    --border-radius: 12px;
    --border-radius-md: 16px;
    --border-radius-xs: 4px;
    --primary-font: "Poppins";
    --icons-font: "Font Awesome 6 Free";
    --transition: 300ms;
    --overlay-opacity: 0.6;
    /* Icons Variables */
    --chevron-down-icon-code: "\f078";
    --heart-filled-icon-code: "\f004";
    --star-filled-icon-code: "\f005";
    --square-icon-code: "\f0c8";
    --check-icon-code: "\f00c";
    --circle-icon-code: "\f111";
    --close-icon-code: "\f00d";
    --marker-icon-code: "\f3c5";
    --search-icon-code: "\f002";
    --remove-heart-icon-code: "\e4ff";
    --loading-icon: "\f110";
    --bs-body-font-family: "Poppins";
}


/**
 * Default CSS Start
 *
 * This CSS Will Be Overwrite With Dynamic CSS
 */

body {
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--grid-text-color);
    margin: 0 0 0 0;
}

h1 {
    font-size: 48px;
    line-height: 1.3em;
    font-weight: 700;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h2 {
    font-size: 32px;
    line-height: 1.5em;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h3 {
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 700;
    font-family: var(--bs-body-font-family);
    color: var(--primary-font-color);
    margin: 0 0 0 0;
}

h4 {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h5 {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

h6 {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 0 0;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--descprition-color);
    margin: 0 0 0 0;
}


/* Start header css  */


/* Start header css  */

:root {
    --home-header-bg: #153D46;
    --inner-header-bg: #153D46;
}


/* Navbar Start */

.realstate-home-3-navbar-section {
    background: var(--home-header-bg);
    padding: 30px;
    z-index: 9999999999;
    position: relative;
}

.realstate-home-3-navbar-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1574px;
    margin: auto;
}

.realstate-home-3-navbar-links ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 69px;
    margin: 0;
    padding: 0;
}

.realstate-home-3-navbar-section li a {
    font-family: var( --primary-font);
    color: var(--white-700);
    transition: var(--transition);
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.realstate-home-3-navbar-section li a i {
    color: var(--white-700);
}

.realstate-home-3-navbar-section li a:hover,
.realstate-home-3-navbar-section a:focus {
    color: var(--white-700);
}

.realstate-home-3-navbar-section li a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.realstate-home-3-navbar-section .realstate-home-3-main-list a {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
}

.realstate-home-3-navbar-section .realstate-home-3-main-list a:hover {
    color: var(--primary-color);
}


/* dropdown menu */

.realstate-home-3-navbar-section li {
    position: relative;
}

.realstate-home-3-navbar-section {
    margin: 0;
}

.realstate-home-3-navbar-section {
    display: block;
}

.realstate-home-3-navbar-section .realstate-home-3-navbar-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 13px;
}

.realstate-home-3-navbar-section .realstate-home-3-nav-btn {
    padding: 14px 23px;
    background: var(--primary-color);
    border: none;
    border-radius: 7px;
    color: var(--white-700);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
}

.realstate-home-3-navbar-section .realstate-home-3-nav-link-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    border-radius: 7px;
    padding: 14px 25px;
    font-size: 16px;
    font-family: var( --primary-font);
    font-weight: 500;
}

.realstate-home-3-navbar-section .realstate-home-3-nav-link-btn:hover {
    color: var(--primary-color);
    background: var(--white-700);
}

.realstate-home-3-navbar-section .realstate-home-3-nav-btn:hover {
    color: var(--primary-color);
    background: var(--white-700);
}

.realestate-navigation-nav-menus {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 69px;
}

.realestate-navigation-nav-menus .sub-menu a {
    min-width: 150px;
    color: var(--primary-font-color);
    border-bottom: 1px solid #dddddd5c;
    padding: 8px 13px;
    border-radius: 0;
}
.realestate-navigation-nav-menus .sub-menu i{
    color: var(--primary-font-color) !important;
}
.realestate-navigation-nav-menus .sub-menu li:first-child a {
    border-radius: 8px 8px 0 0;
}

.realestate-navigation-nav-menus .sub-menu li:last-child a {
    border-radius: 0 0 8px 8px;
}

.realestate-navigation-nav-menus .sub-menu li:last-child a {
    border: unset;
}

.realestate-navigation-nav-menus .sub-menu {
    border-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 9px 16px 57px 0 #00000029;
    z-index: 9999;
    background: var(--white-700);
    position: absolute;
    border-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 9px 16px 57px 0 #00000029;
    background: var(--white-700);
    flex-direction: column;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    transform: scale(0.8) translate(0px, -32px);
}

.realestate-navigation-nav-menus li:hover>.sub-menu {
    transform: scale(1) translate(0px, 5px);
    opacity: 1;
    gap: 0 !important;
    visibility: visible;
}

.realestate-navigation-nav-menus .sub-menu::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    z-index: -1;
    top: -6px;
    left: 15px;
    transform: rotate(45deg);
}

.realestate-navigation-nav-menus i {
    color: var(--primary-font-color);
    transition: var(--transition);
    font-size: 10px;
    margin-top: -1px;
    margin-left: 3px;
}

.realestate-navigation-nav-menus .sub-menu .sub-menu::after {
    left: unset;
    right: -6px;
    top: 9px;
}

.realestate-navigation-nav-menus .sub-menu .sub-menu {
    left: -155px;
    top: 0;
}

.realestate-navigation-nav-menus li:hover>a i {
    transform: rotate(180deg);
    color: var(--primary-color);
}

.realestate-not-filled-btn,
.realestate-not-filled-btn-login,
.realestate-submission-btn {
    border: unset;
    background-color: var(--primary-color-700);
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 12px 16px;
    border-radius: 4px;
}
.realstate-home-3-navbar-logo {
    max-width: 200px;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1120px;
    }
}