@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/font-family/inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
}


/* poppin fonts  */

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../lib/font-family/poppin/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}


/* gilory fonts  */

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../lib/font-family/gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}


/* urbanist */

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../lib/font-family/urbanist/Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/* plus jakarta  */

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../lib/font-family/plus-Jakarta/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


/* vietnamese */

@font-face {
    font-family: 'The Nautigal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../../../s/thenautigal/v6/VdGZAZ8ZH51Lvng9fQV2bfKb7w9l49Q.woff2') format('woff2');
}


/* latin-ext */

@font-face {
    font-family: 'The Nautigal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../../../s/thenautigal/v6/VdGZAZ8ZH51Lvng9fQV2bfKb7g9l49Q.woff2') format('woff2');
}


/* latin */

@font-face {
    font-family: 'The Nautigal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../../../s/thenautigal/v6/VdGZAZ8ZH51Lvng9fQV2bfKb4A9l.woff2') format('woff2');
}


/* vietnamese */

@font-face {
    font-family: 'The Nautigal';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../../../s/thenautigal/v6/VdGGAZ8ZH51Lvng9fQV2bfKTWypw0_WD3Lo.woff2') format('woff2');
}


/* latin-ext */

@font-face {
    font-family: 'The Nautigal';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../../../s/thenautigal/v6/VdGGAZ8ZH51Lvng9fQV2bfKTWypw0vWD3Lo.woff2') format('woff2');
}


/* latin */

@font-face {
    font-family: 'The Nautigal';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../../../s/thenautigal/v6/VdGGAZ8ZH51Lvng9fQV2bfKTWypw3PWD.woff2') format('woff2');
}


/* cyrillic-ext */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2') format('woff2');
}


/* cyrillic */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2') format('woff2');
}


/* vietnamese */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2') format('woff2');
}


/* latin-ext */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2') format('woff2');
}


/* latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2') format('woff2');
}


/* cyrillic-ext */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2') format('woff2');
}


/* cyrillic */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2') format('woff2');
}


/* vietnamese */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2') format('woff2');
}


/* latin-ext */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2') format('woff2');
}


/* latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../../../s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2') format('woff2');
}


/* cyrillic-ext */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIhMX1D_JOuMw_LLPtLp_A.woff2') format('woff2');
}


/* cyrillic */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIhMX1D_JOuMw_LJftLp_A.woff2') format('woff2');
}


/* math */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIhMX1D_JOuMw_LXftLp_A.woff2') format('woff2');
}


/* symbols */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIhMX1D_JOuMw_LT_tLp_A.woff2') format('woff2');
}


/* vietnamese */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIhMX1D_JOuMw_LLvtLp_A.woff2') format('woff2');
}


/* latin-ext */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIhMX1D_JOuMw_LL_tLp_A.woff2') format('woff2');
}


/* latin */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIhMX1D_JOuMw_LIftL.woff2') format('woff2');
}


/* cyrillic-ext */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIvMX1D_JOuMwf7I-NP.woff2') format('woff2');
}


/* cyrillic */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIvMX1D_JOuMw77I-NP.woff2') format('woff2');
}


/* math */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIvMX1D_JOuM3b7I-NP.woff2') format('woff2');
}


/* symbols */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIvMX1D_JOuM2T7I-NP.woff2') format('woff2');
}


/* vietnamese */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIvMX1D_JOuMwX7I-NP.woff2') format('woff2');
}


/* latin-ext */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIvMX1D_JOuMwT7I-NP.woff2') format('woff2');
}


/* latin */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../../../../s/lora/v35/0QIvMX1D_JOuMwr7Iw.woff2') format('woff2');
}