#realestate-content {
    --primary-color: #4081FF;
    --primary-color-700: #FFFFFF;
    --secondary-color: #1F193B;
    --primary-font-color: #070026;
    --secondary-font-color: #E6F2FF;
    --a-hover-color: #070026;
    --heading-color: #070026;
    --descprition-color: #73777D;
    --deaf-font-color: #222222;
    --deaf-font-color-600: #8894ad1f;
    --deaf-font-color-400: #8894ad44;
    --label-font-color: #151e42;
    --input-font-color-700: #6d7ca3;
    --input-font-color-500: #484f5f;
    --input-border-color: #d4dcff;
    --faded-font-color: #525c84;
    --primary-disabled: #0075ff22;
    --primary-border-color: #eaeef7;
    --primary-border-color-600: #e5edf966;
    --grid-text-color: #73777D;
    --overlay-color: #000000;
    --stats-bg-color: #F4F5F7;
    --stars-color: #d1e4fa;
    --dashboard-secondary-bg-color: #f5f9fd;
    --black-700: #000000;
    --white-700: #ffffff;
    --white-500: #FFFFFFDE;
    --white-200: #ffffff22;
    --orange-700: #f8b849;
    --purple-700: #4339f2;
    --red-700: #fb295b;
    --green-700: #34b53a;
    --green-500: #00A884;
    --grey-700: #808080;
    --cyan-700: #28F8C0;
    --golden-700: #F8BB18;
    --input-radius: 10px;
    --border-radius-lg: 20px;
    --border-radius: 12px;
    --border-radius-md: 16px;
    --border-radius-xs: 4px;
    --primary-font: 'inter';
    --icons-font: "Font Awesome 6 Free";
    --transition: 300ms;
    --overlay-opacity: 0.6;
    /* Icons Variables */
    --chevron-down-icon-code: "\f078";
    --heart-filled-icon-code: "\f004";
    --star-filled-icon-code: "\f005";
    --square-icon-code: "\f0c8";
    --check-icon-code: "\f00c";
    --circle-icon-code: "\f111";
    --close-icon-code: "\f00d";
    --marker-icon-code: "\f3c5";
    --search-icon-code: "\f002";
    --remove-heart-icon-code: "\e4ff";
    --loading-icon: "\f110";
    --bs-body-font-family: 'inter';
}

@media (min-width: 1400px) { 
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1142px;
    }
}

.realestate-gallery-style1 .realestate-gallery-slider-slide {
    padding: 0;
    position: relative;
    width: calc(69% - 10px);
}

.realestate-gallery-style1 .realestate-gallery-slider-slide img {
    height: 648px;
    width: 100%;
    object-fit: cover;
}

.realestate-gallery-style1 .col-md-4 {
    padding: 0;
    width: 31%;
}

.realestate-gallery-style1 .col-md-4 .realestate-gallery-slider-slide img {
    height: 320px;
}

.realestate-gallery-style1 .col-md-4 .realestate-gallery-slider-slide:first-child {
    margin-bottom: 8px;
}

.realestate-gallery-style1 .col-md-4 .realestate-gallery-slider-slide {
    width: 100%;
}

.row.realestate-gallery-style1 {
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.realestate-item-details.realestate-dragables-single-gallery-buttons a {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.60);
    display: inline-flex;
    height: 32px;
    padding: 8px 16.13px 9px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--white-700);
    margin-right: 10px;
    transition: var(--transition);
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
}

.realestate-item-details.realestate-dragables-single-gallery-buttons a:hover {
    background-color: var(--black-700);
}

.realestate-single-full-width-section .container {
    position: relative;
}

.realestate-item-details.realestate-dragables-single-gallery-buttons {
    position: absolute;
    bottom: 26px;
    left: 40px;
    flex-wrap: wrap;
    display: flex;
}

.realestated_counted_images {
    position: absolute;
    right: 23px;
    z-index: 999;
    bottom: 33px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #F2F2F2;
    max-width: 196px;
}

.realestated_counted_images a {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    padding: 3px 0;
}

.realestate-gallery-style1 .realestate-gallery-slider-slide .fancybox {
    width: 100%;
}

.realestate-gallery-slider-slide-play-button {
    width: auto !important;
    position: absolute;
    object-fit: contain ! IMPORTANT;
    height: auto ! IMPORTANT;
    margin: auto ! IMPORTANT;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    font-size: 128px;
    display: flex;
    align-items: center;
    transition: var(--transition);
    justify-content: center;
    color: #ffffff5e;
}

.realestate-gallery-style1 .realestate-gallery-slider-slide .fancybox:hover i {
    color: var(--white-700);
}

.realestate-single-widget.realestate-section-details .realestate-price {
    font-size: 36px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.realestate-single-widget.realestate-section-details .realestate-property-details {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.realestate-single-widget.realestate-section-details .realestate-property-details li {
    margin-right: 13px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.4px;
    color: var(--primary-font-color);
    font-family: var(--primary-font);
}

.realestate-item-details .realestate-adress {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 18.4px;
}

.realestate-status-tag.realestate-status-tag-unavailable {
    width: 7px;
    height: 7px;
    background: #00B293;
    border-radius: 50%;
}

.realestate-property-item-type-status h3 {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.72px;
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    text-transform: capitalize;
}

.realestate-status-tag.realestate-status-tag-success {
    border-radius: 4px;
    background: #00B293;
    width: 8px;
    height: 8px;
    margin: 2px 2px 0 0;
}

.realestate-property-item-type-status {
    display: inline-flex;
    padding: 6px 14px 6px 13px;
    justify-content: flex-end;
    align-items: center;
    gap: 6.5px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
}

.realestate-item-id-price {
    position: relative;
}
.realestate-single-section-features.parking {
    line-height: 18px;
    padding-left: 2px;
}
.realestate-single-main-cotent .facts .row .col-lg-6:last-child {
    padding-left: 3px;
    width: 50%;
}
.realestate-single-section-features.exterior-features {
    padding-left: 5px;
}
.realestate-single-section-features.Location ul {
    padding: 1px 0 0px 21px !important;
}
.realestate-single-section-features.exterior-features ul {
    padding: 0px 0 14px 22px ! IMPORTANT;
}
.realestate-single-section-features.Location {
    padding-left: 6px;
    padding-top: 2px;
}
.save-property-heart {
    border-radius: 10px;
    background: #F2F2F2;
    display: flex;
    width: 42px;
    height: 42px;
    padding: 11.5px 11px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    right: -2px;
    top: -4px;
    transition: var(--transition);
}

.realestate-single-hilighted-features li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.realestate-single-hilighted-features {
    display: flex;
    align-items: center;
    padding: 2px 0;
    gap: 25px;
    flex-wrap: wrap;
}

.realestate-single-hilighted-features li .hilighted-features p {
    font-size: 12px;
    margin-bottom: -4px;
}

.realestate-item-details.realestate-dragables-single-tabs {
    display: flex;
    border-bottom: 1px solid #CCCCCC;
    flex-wrap: wrap;
    gap: 10px;
}

.realestate-item-details.realestate-dragables-single-tabs li {
    padding-bottom: 0px;
    display: inline-block;
    color: #73777D;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.realestate-item-details.realestate-dragables-single-tabs li.active {
    color: var(--primary-font-color);
    border-bottom: 2px solid var(--primary-font-color);
    margin-bottom: -2px;
}

.realestate-property-item-type-status h3 {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.72px;
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    text-transform: capitalize;
}

.realestate-item-details.realestate-dragables-single-tabs li a {
    color: var(--descprition-color);
    padding: 0 8px;
    transition: var(--transition);
    position: relative;
}

.realestate-item-details.realestate-dragables-single-tabs li a.active::after {
    content: '';
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    position: absolute;
    background-color: var(--primary-color);
}

.realestate-item-details.realestate-dragables-single-tabs li a.active {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.realestate-single-description p,
.realestate-single-description {
    font-size: 14px;
    line-height: 1.5em;
}

.realestate-single-description {
    max-height: 106px;
    overflow: hidden;
}

.realestate-single-description.active {
    max-height: 100% !important;
}

.realestate-single-section>h4 {
    font-weight: 600;
    margin-bottom: 4px !important;
}

.realestate-single-main-cotent .description {
    padding-bottom: 23px;
}

.realestate-single-main-cotent .overview {
    padding-bottom: 10px;
}

.realestate-single-main-cotent .overview h4 {
    margin-bottom: 17px !important;
}

.realestate-single-main-cotent .facts {
    padding-bottom: 15px;
}

.realestate-single-main-cotent .facts h4 {
    margin-bottom: 24px !important;
}
.realestate-single-main-cotent .map h4 {
    margin-bottom: 16px !important;
}
.realestate-single-main-cotent .facts .row .col-lg-6 {
    width: 38%;
}

.realestate-single-main-cotent .facts .bedrooms-bathrooms ul {
    padding: 1px 0 5px 22px;
}

.realestate-single-main-cotent .facts .appliances ul {
    padding: 0px 0 0px 18px;
}

.realestate-single-main-cotent .facts .interior-features ul {
    margin-bottom: 7px;
    padding: 0px 0 10px 18px ! IMPORTANT;
}

.realestate-single-main-cotent .facts .appliances h6 {
    padding: 2px 0 6px 0;
}

.realestate-single-main-cotent .facts .property {
    padding-left: 4px;
}

.realestate-single-main-cotent .facts .parking h6 {
    padding: 7px 0px 4px 4px;
}

.realestate-single-main-cotent .facts .parking ul {
    padding: 3px 0px 0px 25px;
}

.realestate-single-main-cotent .facts .parking ul li {
    list-style-type: disc;
}

.realestate-single-main-cotent .facts .exterior-features ul {
    padding-bottom: 10px;
}

.realestate-single-main-cotent .floor-plans h4 {
    margin-bottom: 16px !important;
    margin-top: 4px;
    line-height: 21px;
}

.realestate-single-main-cotent .floor-plans .realestate-section-floor-plans .nav-tabs .nav-link.active {
    margin-right: 16px;
}

.realestate-single-main-cotent .map {
    padding-top: 24px;
    border-top: 1px solid #CCCCCC;
    margin-bottom: 7px;
}

.realestate-single-section-bordered {
    border-bottom: 1px solid #CCCCCC;
}

.realestate-single-section-overvierw {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    padding: 12px 0 12px 0;
}

.realestate-single-section-overvierw img {
    max-width: 22px;
}

.realestate-single-section-overvierw p {
    color: var(--black-700);
    font-size: 14px;
}

.realestate-repeating-floor-plans-navs .nav-link {
    display: inline-flex;
    height: 32px;
    padding: 8px 16.13px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #ACACAC;
    background: #fff0;
    margin-right: 10px;
    color: var(--black-700);
    font-size: 16px;
}

.realestate-repeating-floor-plans-navs .nav-link.active {
    border-color: #fff0;
    color: var(--white-700);
    background: var(--primary-color);
}

.realestate-repeating-floor-plans-navs .nav-lin {
    color: var(--black-700);
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
}

.realestate-repeating-floor-plans-navs .nav-link.active svg path {
    fill: var(--white-700) !important;
}

.realestate-plans-tabs {
    border: unset !important;
    margin: 0;
    padding: 20px 0 0 0;
}

.realestate-highlighted-section {
    background: #F8F8F8;
    border-radius: 10px;
    padding: 32px;
    border: 1px solid #CCCCCC;
}

.realestate-repeating-floor-plans-navs {
    border: unset;
    margin-bottom: 13px;
}

.realestate-map-section iframe {
    height: 280px;
    width: 100%;
    border-radius: 10px;
}

.realestate-map-section .realestate-add-commute i {
    padding: 26px 28px;
    border-right: 1px solid #2222221c;
    margin-right: 15px;
    color: #222222;
    font-size: 18px;
}

.realestate-map-section .realestate-commute-link {
    width: 100%;
    background: #F5FAFF;
    border-radius: 8px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    font-size: 16px;
}

.realestate-map-section .realestate-commute-link strong {
    color: var(--black-700);
    margin-right: 10px;
    font-size: 16px;
    margin-left: -5px;
}

.realestate-single-section-features>h6 {
    font-size: 16px;
    padding: 7px 0 4px 0;
    font-weight: 400;
}

.realestate-single-section-features ul {
    display: flex;
    flex-direction: column;
    list-style: disc;
    gap: 3px;
    padding: 5px 0 5px 18px;
}

.realestate-single-section-features ul li {
    font-size: 14px;
    color: var(--descprition-color);
    font-weight: 400;
}

.realestate-highlighted-section-border {
    padding: 42px 34px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.realestate-highlighted-section-border .realestate-single-widget .realestate-item-id-price .realestate-item-price {
    background: #fff;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px !important;
    display: flex;
    padding-right: 20px;
    font-weight: 500;
    width: fit-content;
}

.realestate-highlighted-section-border .realestate-single-widget .realestate-item-id-price .realestate-item-price::after {
    height: 1px;
    border-top: 1px solid #E5E7EB;
    content: '';
    right: -30px;
    left: 12px;
    position: absolute;
    top: 17px;
    z-index: -1;
}

.realestate-highlighted-section-border .realestate-single-widget .realestate-item-id-price .realestate-item-price p {
    font-size: 20px;
    color: #000;
}

.realestate-highlighted-section-border .realestate-single-widget .realestate-item-id-price .realestate-item-id {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
    font-family: var(--bs-body-font-family);
    color: var(--heading-color);
    margin: 0 0 11px 0;
}

.realestate-highlighted-section-border .realestate-single-widget .realestate-item-id-price ul {
    padding-left: 32px;
}

.realestate-highlighted-section-border .realestate-single-widget .realestate-item-id-price ul li {
    color: #73777D;
    font-size: 16px;
    padding: 0px 0 4px 0;
}

.realestate-highlighted-section-border>h4 {
    font-size: 26px;
    margin-bottom: 22px;
}

.realestate-item-details.realestate-active-details {
    padding-bottom: 1px;
}

.realestate-single-widget.realestate-section-details .realestate-price span {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--descprition-color);
    margin: 0 0 0 0;
}


/* side bar stylings  */

.realestate-single-sidebar .realestate-highlighted-section-border {
    padding: 16px;
    margin-bottom: 24px;
}

.realestate-main-profile .realestate-profile-content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.realestate-list-description {
    background: #fff0;
    border: unset;
    padding: 0;
    transition: var(--transition);
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    color: var(--primary-color);
    font-size: 12px;
}

.realestate-list-description.active i {
    transform: rotate(179deg);
}

.realestate-main-profile .realestate-profile-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.realestate-main-profile .realestate-profile-content .content-name {
    width: calc(100% - 80px);
    padding-left: 8px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.realestate-main-profile .realestate-profile-content .content-name h4 {
    font-weight: 700;
    margin-bottom: 11px;
    margin-top: -7px;
}

.realestate-main-profile .realestate-profile-content .content-name p {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-font-color);
    padding-left: 3px;
}

.realestate-main-profile .realestate-profile-content .content-name p a {
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
}

.realestate-main-profile .realestate-profile-icons {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 18px;
}

.realestate-main-profile .realestate-profile-icons a {
    width: calc(100% / 3);
    color: var(--white-700);
    text-align: center;
    border: unset;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: var(--transition);
    border-radius: 5px;
    min-height: 37px;
}

.realestate-main-profile .realestate-profile-icons .whatsapp {
    background-color: #25B26E;
    font-size: 23px;
}

.realestate-main-profile .realestate-profile-icons .mail {
    background-color: #4081FF;
}

.realestate-main-profile .realestate-profile-icons .call {
    background-color: #006169;
}

.realestate-main-profile .realestate-profile-icons a:hover {
    opacity: 0.8;
}

.realestate-main-profile .realestate-profile-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.realestate-main-profile .realestate-profile-line h6 {
    width: calc(100% / 2);
    color: #73777D;
    font-weight: 400;
}

.realestate-main-profile .realestate-profile-line a {
    width: calc(100% / 2);
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}

.realestate-main-profile .realestate-profile-line a i {
    color: #006169;
}


/* CSS for the Tour Schedule */

.realestate-title {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 6px;
    color: #070C18;
}

.realestate-subtitle {
    font-size: 14px;
    color: #73777D;
    margin-bottom: 32px;
}

.realestate-day-selector {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

.realestate-day input {
    display: none;
}

.realestate-day label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    min-width: 62px;
    line-height: 20px;
    cursor: pointer;
}

.realestate-day input:checked+label {
    background-color: var(--primary-color);
    color: #fff;
    border-color: #3f7ffb;
}

.realestate-time-slot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-bottom: 26px;
}

.realestate-time input {
    display: none;
}

.realestate-time label {
    display: block;
    padding: 9px 18px;
    border: 1px solid #e0e0e0;
    border-radius: 50px;
    cursor: pointer;
    color: #73777D;
}

.realestate-time input:checked+label {
    background-color: var(--primary-color);
    color: #fff;
    border-color: #3f7ffb;
}

.realestate-tour-options {
    display: flex;
    margin-bottom: 7px;
    justify-content: space-between;
}

.realestate-day label span {
    font-size: 22px;
    margin-top: 5px;
}

.realestate-tour-option.selected {
    border-color: var(--primary-color);
    background-color: #e6f2ff;
}

.realestate-booking-form .sub-realestate-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #070C18;
}

.realestate-tour-options input {
    display: none;
}

.realestate-tour-options .realestate-tour-in-person {
    width: calc(100% / 2);
}

.realestate-tour-options label {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    background: #fff0;
    padding: 17px 0;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    border: 1px solid #D7D7D7;
}

.realestate-tour-options .realestate-tour-in-person:first-child label {
    border-radius: 8px 0 0 8px;
}

.realestate-tour-options .realestate-tour-in-person:last-child label {
    border-radius: 0 8px 8px 0;
}

.realestate-tour-options .realestate-tour-in-person input:checked+label {
    background-color: var(--primary-color-700);
    border: 2px solid var(--primary-color);
    padding: 16px 0;
    color: var(--primary-color);
}


/* gallery style 2  */

.realestate-gallery-style2 .realestate-gallery-slider-slide img {
    height: 648px;
    object-fit: cover;
    width: 100%;
}

.realestate-gallery-style2 .realestate-gallery-slider-slide2 img {
    height: 320px;
}

.realestate-gallery-style2 a {
    display: inline;
}

.realestate-gallery-style2 .col-4 {
    position: relative;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.realestate-single-full-width-gallery2 {
    border-radius: 10px;
    overflow: hidden;
    max-width: 1900px;
    position: relative;
    margin: auto;
}

.realestate-single-full-width-gallery2 .realestated_counted_images button {
    background: #fff0 !important;
    padding: 0;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    width: auto;
    margin: 0;
    gap: 16px !important;
    border: unset;
    align-items: center;
}

.realestate-single-full-width-gallery2 .realestated_counted_images {
    position: unset;
    padding: 0 11px;
    border-radius: 4px;
    text-align: center;
}

.realestate-single-full-width-gallery2 .realestate-item-details.realestate-dragables-single-gallery-buttons {
    left: 24px;
    bottom: 24px;
}


/* model gallery  */

.realestate-modal-gallery-header {
    border-bottom: 1px solid #EBEBEB;
    min-height: 71px;
    padding: 11px;
}

.realestate-modal-gallery-header .realestate-close-login-modal {
    left: 20px;
    right: unset;
}

.realestate-modal-gallery-header {
    border-bottom: 1px solid #EBEBEB;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.realestate-modal-gallery-header .realestate-item-details-tour {
    display: flex;
    align-items: center;
    gap: 23px;
}

.realestate-post-quick-actions-tour a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    transition: var(--transition);
    font-weight: 400;
    padding: 11px 24px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: #fff;
    min-width: 216px;
}

.realestate-post-quick-actions-tour a:hover {
    background-color: var(--primary-color-700);
    color: var(--primary-color);
}

.realestate-modal-gallery-header .realestate-item-details-tour .save-property-heart.realestate-save-post {
    position: unset;
    padding: 0;
    background: #fff;
    width: auto;
    height: auto;
}

.realestate-item-details-tour .save-property-heart.realestate-save-post i {
    color: #000;
}

.realestate-quick.realestate-dropdown {
    position: relative;
    cursor: pointer;
}

.realestate-dropdown-items.realestate-social-share {
    border-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 9px 16px 57px 0 #00000029;
    z-index: 9999;
    background: var(--white-700);
    position: absolute;
    border-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 9px 16px 57px 0 #00000029;
    background: var(--white-700);
    flex-direction: column;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    transform: scale(0.8) translate(0px, -32px);
    display: flex !important;
    flex-direction: row;
}

.realestate-dropdown-items.realestate-social-share a {
    padding: 9px 13px;
}

.realestate-quick.realestate-dropdown:hover .realestate-dropdown-items.realestate-social-share {
    transform: scale(1) translate(0px, 5px);
    opacity: 1;
    gap: 0 !important;
    visibility: visible;
}

#realestate-expan-gallery {
    transform: scale(0);
    transition: 0.3s;
}

#realestate-expan-gallery.show {
    transform: scale(1);
}

.realestate-gallery-container {
    max-width: 927px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.realestate-gallery-container .realestate-gallery-single-photo.photo-1 {
    width: 100%;
}

.realestate-gallery-container .realestate-gallery-single-photo.photo-1 img {
    height: 841px;
    width: 100%;
    object-fit: cover;
}

.realestate-gallery-container .realestate-gallery-single-photo a {
    display: inline;
}

.realestate-gallery-container .realestate-gallery-single-photo.photo-2 {
    width: calc(100% / 2 - 6px);
}

.realestate-gallery-container .realestate-gallery-single-photo.photo-2 img {
    height: 415px;
    width: 100%;
    object-fit: cover;
}

.realestate-modal-gallery-content {
    padding: 19px;
    max-height: calc(100vh - 72px);
    overflow: auto;
}

.fancybox__container {
    z-index: 9999999999999;
}

@media(max-width:1380px) {
    .realestate-modal-gallery-header .realestate-close-login-modal {
        color: #fff0;
    }
}

.single-realestate-sidebar-top.sticky {
    position: fixed;
    top: 30px;
    z-index: 999999;
}

.single-realestate-sidebar-top.sticky.footers-section {
    position: absolute;
    bottom: 0 !IMPORTANT;
    top: unset;
}

/* Property */

.realestate-property {
    margin-top: 50px;
    margin-bottom: 25px;
}

.realestate-property h2 {
    font-size: 23px;
    font-family: 'inter';
    line-height: 28px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 26px;
}

.realestate-property .sub-heading h3 {
    font-size: 16px;
    font-family: 'inter';
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 24px;
}

.realestate-property .transport {
    display: flex;
    gap: 58px;
}


.realestate-property .transport .details .icon {
    width: 27px;
    height: 27px;
}

.realestate-property .transport .details .rating {
    padding-top: 5px;
    padding-bottom: 10px;
}

.realestate-property .transport .details .rating h3 {
    font-size: 16px;
    font-family: 'inter';
    line-height: 24px;
    color: #4081FF;
    font-weight: bold;
}

.realestate-property .transport .details .rating span {
    font-size: 12px;
    font-family: 'inter';
    line-height: 18px;
    color: #676767;
    font-weight: 400;
}

.realestate-property .transport .details .short-dec h4 {
    font-size: 16px;
    font-family: 'inter';
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}

.realestate-property .transport .details .short-dec h5 {
    font-size: 12px;
    font-family: 'inter';
    line-height: 18px;
    color: #676767;
    font-weight: 400;
}



.realestate-property .transport-info {
    padding-top: 24px;
    padding-bottom: 32px;
}


.realestate-property .transport-info .transportation-details {
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    width: 58%;
}

.realestate-property .transport-info .list-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.realestate-property .transport-info .list-item img {
    width: 27px;
    height: 27px;
}



.realestate-property .transport-info .list-item h5 {
    color: #222222;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    width: 468px;
}

.realestate-property .transport-info .realestate-hide {
    font-size: 14px;
    color: #070026;
    margin-top: 14px;
    line-height: 1.5em;
    font-weight: 400;
    margin-left: 50px;
}








/* School*/

.realestate-school h2 {
    font-size: 23px;
    font-family: 'inter';
    line-height: 28px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 26px;
}


.realestate-school .school-question {
    padding-bottom: 32px;
    /* border-bottom: solid 1px #E6E6E6; */
}

.realestate-school .list-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.realestate-school .list-item h4 {
    font-size: 16px;
    font-family: 'inter';
    line-height: 24px;
    font-weight: bold;
}

.realestate-school .list-item span {
    font-size: 16px;
    font-family: 'inter';
    line-height: 24px;
    font-weight: 400;
}

.realestate-school .list-item h5 {
    color: #222222;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    width: 468px;
}

.realestate-school .school-details {
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    padding: 17px 0;
    width: 58%;
}


.realestate-school .school-details .realestate-hide {
    font-size: 14px;
    color: #070026;
    margin-top: 14px;
    line-height: 1.5em;
    font-weight: 400;
    margin-left: 50px;
}




/* Climate Risk */
.realestate-climate-risk {
    padding-top: 46px;
    padding-bottom: 24px;
}

.realestate-climate-risk h2 {
    font-size: 23px;
    font-family: 'inter';
    line-height: 28px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 26px;
}

.realestate-climate-about h3 {
    font-size: 18px;
    font-family: 'inter';
    line-height: 22px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 8px;
}

.realestate-climate-about p {
    font-size: 16px;
    font-family: 'inter';
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 24px;
}

.realestate-climate-risk .risk-factor h3 {
    font-size: 16px;
    font-family: 'inter';
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 16px;
}


.realestate-climate-risk .list-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.realestate-climate-risk .list-item h5 {
    color: #222222;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    width: 468px;
}


.realestate-faqs-accordians-list .factor-details {
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    padding: 17px 0;
    width: 58%;
}

.realestate-climate-risk .factor-details .realestate-hide {
    font-size: 14px;
    color: #070026;
    margin-top: 14px;
    line-height: 1.5em;
    font-weight: 400;
    margin-left: 40px;
}


.realestate-faqs-accordians-list li {
    width: calc(100% / 2 - 18px);
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    padding: 17px 0;
}

.realestate-parks {
    border: 1px solid;
    border-color: #DDDDDD;
    border-radius: 10px;
    padding: 58px 0px 5px 30px;
    margin-bottom: 52px;
    overflow: hidden;
}

.realestate-parks .heading h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    margin: 0px;
    padding-left: 6px;
}

.realestate-parks .parks-box {
    border-radius: 5px;
    border-radius: .25rem;
    transition: 0.3s;
    background: #FFF;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 27px;
    margin-left: 6px;
}

.realestate-parks .parks-box:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
}

.realestate-parks .parks-thumb img {
    width: 360px;
    height: 220px;
    object-fit: cover;
}

.realestate-parks .content {
    padding: 21px 21px 14px 21px;
    border: 1px solid #DBDBDB;
    border-radius: 0 0 5px 5px;
}

.realestate-parks .content .tilte {
    margin-bottom: 8px;
}

.realestate-parks .content .tilte h6 {
    font-size: 18px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 23px;
    margin: 0;
    color: #070026;
    padding-bottom: 17px;
}

.realestate-parks .content .tilte .save-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.realestate-parks .content .tilte .save-button span {
    color: #4C4C4C;
    font-size: 22px;
}

.realestate-parks .content .tilte .save-button p {
    font-size: 12px;
    font-family: 'inter';
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    color: #73777D;
}

.realestate-parks.two {
    padding: 31px 0px 10px 30px;
    margin-bottom: 11px;
}

.realestate-single-section.price-details h4 {
    margin-bottom: 30px !important;
}

.parks-card-links ul {
    display: flex;
    gap: 15px;
    align-items: center;
}

.parks-card-links ul li a {
    font-size: 18px;
    font-family: 'inter';
    font-weight: 200;
    line-height: 27px;
    margin: 0;
    color: #73777D;
}

.parks-card-links ul li a::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #CECACA;
    position: absolute;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: -8px;
}

.parks-card-links ul li:first-child a::before {
    display: none;
}

.card-pagination {
    text-align: center;
    margin-top: 51px;
    margin-bottom: 20px;
}

.number-slide li {
    list-style-type: none;
    display: inline-block;
}

.number-slide .page-item {
    padding: 0;
    margin: 0 8px;
}

.number-slide .page-item a {
    text-decoration: none;
    display: flex;
    border-radius: 8px;
    background: #070026;
    padding: 8px 16px;
    color: white;
}

.number-slide .page-item a:hover {
    background: gold;
}

.number-slide .page-item2 {
    padding: 0;
    margin: 0 8px;
}

.number-slide .page-item2 a {
    text-decoration: none;
    color: #4081FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.94px;
}

.number-slide .page-item2 a:hover {
    color: black;
}

.save-property-heart i {
    color: #000000;
    font-size: 18px;
}

.realestate-single-section {
    margin-bottom: 24px;
}

.parks-gallery-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 20px;
    padding: 0px;
    gap: 16px;
}

.realestate-parks.two .parks-gallery-slider .slick-dots {
    margin-top: 23px;
}

.parks-gallery-slider .slick-dots li button {
    color: #4081FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.94px;
    background: transparent;
    border: none;
    padding: 0px;
    transition: .3s;
}

.parks-gallery-slider .slick-dots li button:hover {
    color: #000;
}

.parks-gallery-slider .slick-dots .slick-arrow {
    display: flex;
    border-radius: 8px;
    background: #070026;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0px;
    width: 32px;
    height: 32px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.parks-gallery-slider .slick-dots .slick-arrow:hover {
    background: var(--primary-color);
}

.parks-gallery-slider .slick-dots .slick-arrow:after {
    position: absolute;
    font-size: 14px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 600;
    line-height: 16px;
}

.parks-gallery-slider .slick-dots .slick-prev:after {
    content: '\f104';
}

.parks-gallery-slider .slick-dots .slick-next:after {
    content: '\f105';
}

.parks-gallery-slider .slick-track {
    display: flex;
    gap: 25px 20px;
}

.parks-gallery-item {
    width:367px !important;
}

.parks-gallery-item .parks-thumb {
    display: flex;
    flex-direction: column;
}

.parks-gallery-item .parks-card-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parks-gallery-item .parks-card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.parks-gallery-item .parks-card-tags p {
    width: 26px;
    height: 26px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 15px;
    background: #000;
}

.parks-gallery-item .parks-card-tags .yellow {
    background: #E0C43F;
}

.parks-gallery-item .parks-card-tags .green {
    background: #15A68C;
}

.parks-gallery-slider {
    padding-left: 12px;
}

.realestate-day-selector .slick-track {
    display: flex;
    gap: 5px;
}